<div class="HomepageDownload">
  <div class="HomepageDownload__text">
    <h3>Ready to boost your online sales?</h3>
    <p>Download your free eCommerce Conversion guide</p>
    <a href="/download-guide">Get your free guide</a>
  </div>
  <div class="HomepageDownload__image">
    <%= image_tag("../images/e-commerce book.png", alt: "Close")%>
  </div>
</div>