<div class="HomepageDownload">
  <div class="HomepageDownload__text">
    <h3 class="HomepageDownload__heading"><%= dato.homepage_download.heading %></h3>
    <p class="HomepageDownload__body"><%= dato.homepage_download.body %></p>
    <a class="HomepageDownload__button Btn Btn--animatedLeft--yellow Btn--shadow" href="/<%= dato.download_page.handle %>"><span>Get your free guide</span></a>
  </div>
  <div class="HomepageDownload__image">
    <%= image_tag("../images/e-commerce book.png", alt: "Close")%>
  </div>
</div>