<div class="HomepageDownload">
  <div class="HomepageDownload__text">
    <h3 class="HomepageDownload__heading">Ready to boost your online sales?</h3>
    <p class="HomepageDownload__body">Download your free eCommerce Conversion guide</p>
    <a class="HomepageDownload__button Btn Btn--animatedLeft Btn--animatedLeft--yellow Btn--shadow" href="/cro-four-step-guide-download"><span>Get your free guide</span></a>
  </div>
  <div class="HomepageDownload__image">
    <%= image_tag("../images/e-commerce book.png", alt: "Close")%>
  </div>
</div>