<div class="OurServices space-150 mobile-space-60">
  <ul class="OurServices__links">
    <% dato.homepage_service_section.links.each do |link| %>
    <li class="OurServices__link-container">
      <%= link_to link.text, link.url, :class => "OurServices__link Link--animated" %>
    </li>
    <% end %>
  </ul>
  <div class="OurServices__description">
    <h2 class="OurServices__heading"><%= dato.homepage_service_section.heading %></h2>
    <div class="OurServices__body"><%= dato.homepage_service_section.body %></div>
  </div>
</div>