<div class="OurServices">
  <div class="OurServices__links">
    <ul>
      <% dato.homepage_service_section.links.each do |link| %>
        <%= link_to link.text, link.url %>
      <% end %>
    </ul>
  </div>
  <div class="OurServices_description">
    
  </div>
</div>