.CaseStudyX .CaseStudy__brand-story{
  width: 100%;
  &__full-width-banner{
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  &__images{
    align-items: flex-end;
  }
  &__image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img{
      max-width: 100%;
      width: 600px;
      vertical-align: middle;
    }
  }
  @include maxQuery(1200px){
    &__images{
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include maxQuery(1050px){
    .CaseStudyX__text-content{
      padding-left: 20px;
    }
  }
  @include maxQuery($s){
    padding-left: 0;
    &__text-column{
      max-width: 90%;
      width: 90%;
      flex: auto;
      margin-left: auto;
      margin-right: auto;
    }
    &__image:first-child{
      max-width: 90%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      flex: auto;
    }
    &__image:last-child{
      display: none;
    }
  }
}