.CaseStudyX .CaseStudy__mobile{
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-flow: row wrap;
  &__images-section{
    background-color: #F7F7F7;
    width: 930px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__images{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  &__image{
  }
  &__text-section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  @include maxQuery($s){
    &__image{
      max-width: 77px;
    }
  }
}