.CaseStudyX .CaseStudy__mobile{
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 880px;
  flex-flow: row wrap;
  &__images-section{
    width: 40%;
  }
  &__images{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__image:first-child{
    position: absolute;
    left: 0;
  }
  &__image:nth-child(2){
    left: 60%;
    position: absolute;
    transform: translateX(-50%);
  }
  &__image:last-child{
    position: absolute;
    right: -180px;
  }
  &__text-section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  @include maxQuery(2200px){
    &__image:first-child{
      display: none;
    }
    &__image:nth-child(2){
      left: 40%;
    }
  }
  @include maxQuery(1480px){
    .CaseStudyX__text-content{
      margin-left: 200px;
      padding-right: 20px;
    }
  }
  @include maxQuery(1313px){
    &__image:nth-child(2){
      display: none;
    }
  }
  @include maxQuery(1000px){
    height: 750px;
    &__images-section{
      width: 30%;
    }
    &__image:last-child{
      right: -160px;
    }
    &__text-section{
      width: 70%;
    }
  }
  @include maxQuery(900px){
    &__image:last-child{
      right:-140px;
    }
  }
  @include maxQuery(900px){
    &__image:last-child{
      right:-140px;
    }
  }
  @include maxQuery(800px){
    height: auto;
    &__images-section{
      width: 100%;
      background-color: $grey-bg;
    }
    &__images{
      justify-content: center;
    }
    &__image:last-child{
      display: none;
    }
    &__image:nth-child(2){
      display: block;
      position: static;
      left: initial;
      transform: none;
    }
    &__text-section{
      width: 100%;
    }
    .CaseStudyX__text-content{
      margin-left: 0;
      padding-right: 0;
      width: auto;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}