.CaseStudy__quote{
  &__container{
    display: flex;
    align-items: flex-start;
    background-color: #f7f7f7;
    width: 833px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    @include maxQuery(833px){
      width: 90%;
    }
  }
  &__body-container{
    width: 556px;
    max-width: 100%;
  }
  &__svg-container{
    margin-right: 40px;
    svg{
      width: 85px;
      height: 85px;
    }
  }
  &__body {
    p{
      margin-top: 0;
      font-size: 1.5rem;
      color: $heading;
    }
  }
  &__cite{
    display: flex;
  }
  &__image{
    margin-right: 15px;
  }
  &__name{
    font-size: 1.125rem;
    font-weight: 800;
    display: block;
  }
  &__job{
    font-size: 1.125rem;
    font-family: 'Avenir-Roman';
  }
  @include maxQuery($s){
    &__container{
      width: 80%;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__svg-container{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      svg{
        height: 40px;
        width: 40px;
      }
    }
    &__body-container{
      width: 100%;
    }
    &__body{
      margin-bottom: 30px;
      p{
        font-size: 1.125rem;
      }
    }
    &__person-text{
      text-align: left;
    }
    &__cite{
      justify-content: center;
    }
  }
}