.CaseStudyX .CaseStudy__quote{
  &__container{
    width: 760px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__body-container{
    position: relative;
  }
  &__apostrophe,
  &__apostrophe--flipped{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__apostrophe{
    left: -60px;
  }
  &__apostrophe--flipped{
    right: -60px;
  }
  &__body{
    p{
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Avenir-Roman';
      color: $heading;
      margin: 0;
    }
  }

  &__cite{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
  }
  &__person-text{
    margin-left: 25px;
  }
  &__name{
   font-size: 1.125rem;
   font-weight: 700;
   display: block;
   width: 100%;
  }
  &__job{
    font-family: 'Avenir-Roman';
    font-size: 1.125rem;
  }
  @include maxQuery(920px){
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    &__cite{
      margin-top: 10px;
    }
    &__body p{
      font-size: 1.125rem;
    }
    &__apostrophe,
    &__apostrophe--flipped{
      transform: none;
      position: static;
    }
  }
  @include maxQuery($s){
    &__apostrophe,
    &__apostrophe--flipped{
      max-width: 20px;
    }
  }
}