h1,
h2,
h3,
h4 {
  font-family: 'Avenir';
  font-weight: 800;
  color: $heading;
  margin-bottom: 30px; 
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 2.25rem;
}
h4{
  font-size: 1.125rem;
}
h5 {
  font-family: 'Avenir-Roman';
  font-size: 1.125rem;
  color: $minor-heading;
}
h6 {
  font-family: 'Avenir-Roman';
  font-size: 1.5rem;
  color: $minor-heading;
}
p{
  font-family: 'Avenir-Roman';
  font-size: 1.125rem;
  color: $body;
}
a{
  font-family: 'Avenir';
  font-style: normal;
  text-decoration: none;

}
ul{
  margin: 0px;
  padding: 0px;
}

li{
  margin: 0px;
  list-style: none;
}

.Btn{
  padding: 13px 18px;
  border: 1px solid white;
}

.Btn--animatedLeft{
  position: relative;
  span{
    color: $btn-animatedLeftMain;
    position: relative;
    z-index: 2;
    transition: color .3s;
  }
  &:after{
    z-index: 1;
    content:'';
    display: block;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $btn-animatedLeftMain;
    transition: width .3s;
  }
  &:hover{
    span{
      color: $btn-animatedLeftSub;
    }
    &:after{
      width: 100%;
    }
  }
}


.Btn--animatedLeft--reverse{
  position: relative;
  span{
    color: $btn-animatedLeftSub;
    position: relative;
    z-index: 2;
    transition: color .3s;
  }
  &:after{
    z-index: 1;
    content:'';
    display: block;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $btn-animatedLeftSub;
    transition: width .3s;
  }
  &:hover{
    span{
      color: $btn-animatedLeftMain;
    }
    &:after{
      width: 100%;
    }
  }
}




