html {
  box-sizing: border-box;
  font-size: 100%; 
}

body{
  font-family: 'Avenir';
}
h1,
h2,
h3,
h4 {
  font-family: 'Avenir';
  font-weight: 800;
  color: $heading;
  margin-bottom: 30px; 
  line-height: 1.25;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 1.7rem;
}
h3{
  font-size: 1.7rem;
}
h4{
  font-size: 1.125rem;
}
h5 {
  font-family: 'Avenir-Roman';
  font-size: 1.125rem;
  color: $minor-heading;
}
h6 {
  font-family: 'Avenir-Roman';
  font-size: 1.5rem;
  color: $minor-heading;
}
p{
  font-family: 'Avenir-Roman';
  font-size: 1.125rem;
  color: $body;
  line-height: 1.5;
  @include maxQuery($s){
    font-size: 0.875rem;
  } 
}
a{
  font-family: 'Avenir';
  font-style: normal;
  text-decoration: none;
  color: $page-links;
}
ul{
  margin: 0px;
  padding: 0px;
}

li{
  margin: 0px;
  list-style: none;
}
img{
  max-width: 100%;
}
input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
button{
  font-family: 'Avenir';
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.Btn{
  padding: 13px 18px;
  border-radius: 5px;
  border: 2px solid $btn-animatedLeftMain;
  &:hover{
    cursor: pointer;
  }
}

.Btn--pfc{
  background-color:$btn-pfc;
  a{
    color:$btn-pfc-text;
  }
}
.Btn--animatedLeft{
  position: relative;
  span{
    color: $btn-animatedLeftMain;
    position: relative;
    z-index: 2;
    transition: color .3s;
  }
  &:after{
    z-index: 1;
    content:'';
    display: block;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $btn-animatedLeftMain;
    transition: width .3s;
  }
  &:hover{
    span{
      color: $btn-animatedLeftSub;
    }
    &:after{
      width: 100%;
    }
  }
}

.Btn--animatedLeft--reverse{
  position: relative;
  background-color:transparent;
  span{
    color: $btn-animatedLeftSub;
    position: relative;
    z-index: 2;
    transition: color .3s;
  }
  &:after{
    z-index: 1;
    content:'';
    display: block;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $btn-animatedLeftSub;
    transition: width .3s;
  }
  &:hover{
    span{
      color: $btn-animatedLeftMain;
    }
    &:after{
      width: 100%;
    }
  }
}

.Btn--animatedLeft--purple{
  position: relative;
  background-color:#4C54B0;
  border-color: #4C54B0;
  font-weight: 800;
  span{
    color: $btn-animatedLeftSub;
    color:white;    
    position: relative;
    z-index: 2;
    transition: color .3s;
  }
  &:after{
    z-index: 1;
    content:'';
    display: block;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: width .3s;
  }
  &:hover{
    span{
      color:#4C54B0;
    }
    &:after{
      width: 100%;
    }
  }
}
.Btn.Btn--animatedLeft--black{
  border-color: black;
  span{color: black;}
  &:after{
    background-color: black;
  }
  &:hover{
    span{color: white;}
  }
}
.Btn--ghost{
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.Btn--rounded{
  border-radius: 5px;
  &:after{
    border-radius: 3px;
  }
}
.Btn--shadow{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.Btn--filled{
  background-color: white;
  color: black;
  border: 1px solid white;
}

.Link--animated{
  position: relative;
  font-weight: 800;
  a{color: $navigation-link;}
  &:after{
    content:'';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $navigation-link;
    transition: width .3s;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}

.Link--underline{
  position: relative;
  font-weight: 800;
  a{color: $link;}
  &:after{
    content:'';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: $link;
    transition: width 0.3s;
  }
  &:hover:after {
    width: 100%;
  }
}


