a{
  font-family: 'Avenir';
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}
ul{
  margin: 0px;
  padding: 0px;
}

li{
  margin: 0px;
  list-style: none;
}

.Btn{
  padding: 13px 18px;
  border: 1px solid white;
}





