@mixin minQuery($resolution){
  @media screen and (min-width: $resolution){
    @content;
  }
}

@mixin maxQuery($resolution){
  @media screen and (max-width: $resolution){
    @content;
  }
}

@mixin minmaxQuery($min, $max){
  @media screen and (min-width: $min) and (max-width: $max){
    @content;
  }
}

@mixin btn-shadow(){
  box-shadow: 2px 2px 8px rgba(0,0,0,.15);
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin mobileContainer(){
  max-width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}