/* Colors */
// base colors
$heading: #231F20;
$minor-heading: #FFFFFF;
$body: #979797;
// heading colors
$logo-color: white;
$logo-color-mobile: black;

$navigation-link: white;
$navigation-button: white;
$link: black;
$btn-animatedLeftMain: white; 
$btn-animatedLeftSub: black; 

$skewed-banner: #4C54B0;

//ImageText
$dark-bg: #FAFAFA;
/* Screen Sizes */
$xs: 600px;
$s: 768px;
$m: 1200px;
$l: 1440px; 

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: oblique;
}