.AboutPartners {
  &__container {
    width: 100%;
    max-width: 814px;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    font-size: 2.25rem;
  }
  &__text {
    max-width: 93%;
    margin: 0 auto 53px;
  }
  &__brands {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__brand {
    height: 147px;
    width: 147px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  @include maxQuery(865px) {
    &__container { max-width: 90%; }
    &__heading { font-size: 1.5rem; }
    &__brand {
      width: 32%;
      height: auto;
      margin-bottom: 5px;
    }
  }
}
@include maxQuery(865px) {
  .AboutPartners.padding-150 {
    padding-top: 60px;
  }
}