.AboutPartners {
	padding-bottom: 90px;
	@include maxQuery($s){
		display: none;
	}
	&__brands {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	&__brand {
		width: 25%;
		text-align: center;
		margin-bottom: 90px;
    &:nth-child(1n){
      text-align: left;
    }
    &:nth-child(2n){
      text-align: center;
    }
    &:nth-child(3n){
      text-align: center;
    }
    &:nth-child(4n){
      text-align: right;
    }
	}
	&__button {
		display: block;
		height: 60px;
		width: 182px;
		margin: 0 auto;
		line-height: 60px;
		font-weight: 800;
		font-size: 1.125rem;
		text-align: center;
		color: $about-page-btn-text;
		background-color: $about-page-btn;
	}
}