.AboutPartners {
	padding-bottom: 90px;
	&__brands {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	&__brand {
		width: 25%;
		text-align: center;
		margin-bottom: 90px;
    &:nth-child(4n+1){
      text-align: left;
    }
    &:nth-child(4n+2){
      text-align: center;
    }
    &:nth-child(4n+3){
      text-align: center;
    }
    &:nth-child(4n+4){
      text-align: right;
    }
	}
	&__button {
		display: block;
		height: 60px;
		width: 182px;
		margin: 0 auto;
		line-height: 60px;
		font-weight: 800;
		font-size: 1.125rem;
		text-align: center;
		color: $about-page-btn-text;
		background-color: $about-page-btn;
	}
  @include maxQuery($s){
    &__brand{
      width: 50%;
      margin-bottom: 30px;
      text-align: center !important;
    }
    &__brand-image{
      max-height: 28px;
      margin: 0 auto;
    }
  }
}