.AboutTeam {
	&__heading{
		text-align: center;
		font-size: 2.25rem;
	}
	&__teams{
		&--mobile{
			display: none;
		}
	}
	&__team {
		margin-bottom: 20px;
		h4 {
      font-family: 'Avenir-Roman';
      font-weight: normal;
			color: $body;
			margin: 0 0 9px 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__members {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	&__member{
		max-height: 150px;
		max-width: 150px;
		margin-right: 20px;
		color: white;
		&__image-container{
			position: relative;
		}
		&__image{
			width: 100%;
			vertical-align: middle;
		}
		&__name{
			font-weight: 800;
			font-size: 1.125rem;
			font-family: 'Avenir';
			word-break: break-all;
			display: block;
			margin-bottom: 6px;
		}
		&__title{
			font-family: 'Avenir-Roman';
			word-break: break-all;
			font-size: 1.125rem;
			display: block;
		}
		&__overlay{
			background-color: rgba($accent, .8);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0%;
			transition: height .3s;
			width: 100%;
			overflow: hidden;
		}
		&__text-container{
			padding-left: 10px;
			padding-top: 20px;
		}
		&--heading{
			height: 150px;
			width: 135px;
			background-color: $dark-bg;
			display: flex;
			align-items: center;
			padding-left: 15px;
		}
		&:hover{
			.AboutTeam__member__overlay{
				height: 100%;
			}
		}
	}
	@include maxQuery(865px){
		@include mobileContainer();
		&__heading{
			font-size: 1.5rem;
		}
		&__teams--desktop{
			display: none;
		}
		&__teams--mobile{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		&__member{
			width: 32%;
			max-height: initial;
			max-width: initial;
			margin: 0;
			margin-bottom: 5px;
		}
	}
}
