<div class="ServiceDescription <% if modifier != nil  %>ServiceDescription<%= modifier %><% end %>">
	<div class="ServiceDescription__heading">
		<h2><%= heading %></h2>
	</div>
	<div class="ServiceDescription__body">
		<%= body %>
	</div>
</div>

