<div class="BlogGrid">
	<div class="BlogGrid__container BlogGrid__container--1">
		<div class="BlogGrid__item--1 col-lg-10 col-md-10 col-sm-10">
			<div class="BlogGrid__item__heading">
				<h2>Lorem ipsum dolor</h2>		
			</div>
			<div class="BlogGrid__item__date">
				<p>Jan. 29 2017</p>
			</div>
			<div class="BlogGrid__item__author">
				<p>Richard Emanuel</p>
			</div>
			<div class="BlogGrid__item__content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  consectetur adipiscing elit.</p>
			</div>
			<div class="BlogGrid__item__button">
				<a href="/">Read More</a>
			</div>
		</div>
	</div>


	<div class="BlogGrid__container BlogGrid__container--2">
		<div class="BlogGrid__container BlogGrid__container--3">
			 <img src="/images/rectangle-1.png">
		</div>
		<div class="BlogGrid__container BlogGrid__container--4">
			<div class="BlogGrid__item BlogGrid__item--3" style="background-image: url('/images/rectangle-2.png')">		
				<div class="BlogGrid__item BlogGrid__item--4">
					<div class="BlogGrid__item__heading">
						<h2>Lorem ipsum dolor</h2>
					</div>
					<div class="BlogGrid__item__date">
						<p>Jan. 29 2017</p>
					</div>
					<div class="BlogGrid__item__author">
						<p>Richard Emanuel</p>
					</div>
				</div>
			</div>
			<div class="BlogGrid__item BlogGrid__item--5">
				<div class="BlogGrid__item__twitterFeed col-lg-10">
					<p>We are proud to announce the launch of our newest client store @TheHourShop They offer a fantastic range of vintage designer barware and glassware via their @Shopify store...</p>
				</div>
			</div>	
		</div>
	</div>
</div>