<div class="container m">
<header class="MainHeader">
  <div class="MainHeader__logo-container">
    <img src="/images/parkfield_white.png">
  </div>
  <%= partial '/partials/navigation' %>
</header>
</div>
