<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header class="MainHeader">
        <div class="MainHeader__logo-container">
          <a href="#"><img src="/images/parkfield_white.png"></a>
        </div>
        <%= partial '/partials/navigation' %>
      </header>
    </div>
  </div>
</div>
