<header>
  <div class="container">
    <div class="Logo">
      Parkfield.
    </div>
    <nav class="Nav">
      <ul>
        <li class="Nav__item">Work</li>
        <li class="Nav__item">About</li>
        <li class="Nav__item">Migration</li>
        <li class="Nav__item">Marketing</li>
        <li class="Nav__item">Services</li>
      </ul>
    </nav>
  </div>
</header>