<nav class="Nav MainHeader__nav">
  <span class="Nav_hamburger"></span>
  <ul class="Nav_items">
    <li class="Nav__item">
      <a class="Nav__link" href="#">Work</a>
    </li>
    <li class="Nav__item">
      <a class="Nav__link" href="#">About</a>
    </li>
    <li class="Nav__item">
      <a class="Nav__link" href="#">Migration</a>
    </li>
    <li class="Nav__item">
      <a class="Nav__link" href="#">Marketing</a>
    </li>
    <li class="Nav__item">
      <a class="Nav__link" href="#">Services</a>
    </li>
    <li class="Nav__item">
      <a class="Btn Btn--animatedLeft" href="#"><span>Get a free quote</span></a>
    </li>
  </ul>
</nav>