<nav class="Nav MainHeader__nav">
  <ul class="Nav_items">
    <li class="Nav__item"><a href="#">Work</a></li>
    <li class="Nav__item"><a href="#">About</a></li>
    <li class="Nav__item"><a href="#">Migration</a></li>
    <li class="Nav__item"><a href="#">Marketing</a></li>
    <li class="Nav__item"><a href="#">Services</a></li>
    <li class="Nav__item"><a class="Btn" href="#">Get a free quote</a></li>
  </ul>
</nav>