<div class="container m">
  <header class="MainHeader">
    <div class="MainHeader__logo-container">
      <a href="/" class="MainHeader__logo">Parkfield.</a>
    </div>
    <%= partial '/partials/header/navigation' %>
  </header>
</div>
