<div class="AboutPartners padding-150">
	<div class="AboutPartners__container">
		<h2 class="AboutPartners__heading"><%= dato.about_page.partners_heading %></h2>
		<p class="AboutPartners__text"><%= dato.about_page.partners_text %></p>
		<div class="AboutPartners__brands">
			<% dato.about_page.partner_images.each do | brand |%>
			<div class="AboutPartners__brand">
				<%= image_tag brand.url, alt: brand.alt, class:"AboutPartners__brandImg" %>	
			</div>	
			<% end %>
		</div>
	</div>
</div>