<% page = dato.about_page %>
<div class="AboutClients">
	<h2><%= page.client_brands_heading %></h2>
	<div class="AboutClients__brands">
		<% page.client_brands.each do | brand |%>
		<div class="AboutClients__brand">
			<%= image_tag brand.url, alt: brand.alt, class:"AboutClients__brand-image" %>
		</div>
		<% end %>
	</div>
	<a href="<%= page.button_link %>" class="AboutClients__button"><%= page.button_text %></a>
</div>