.BlogGrid{
  position: relative;
  z-index: 2;
	display:flex;
	flex-flow:row wrap;
	&__container{
		display:flex;
	}
	&__container--1{
		width:41.9%;
		background-color:#FAFAFA;
		align-items:center;
	}
	&__container--2{
		width:58.1%;
	}
	&__container--3{
		width:43.4%;
		align-items:center;
		img{
			width:100%;
		}
	}
	&__container--4{
		width:56.6%;
		flex-flow:row wrap;
	}
  
	&__item--1{
    max-width: 100%;
    padding: 0px 10px;
    padding-left: 120px;
		margin:0 auto;
	}
	&__item--3{
		width:100%;
		background-size:cover;
		background-position: center center;
		background-repeat:no-repeat;
		max-height:307px;
		height:50%;
    display: flex;
    align-items: center;
	}
	&__item--4{
    width: 370px;
    padding: 0px 10px;
    max-width: 100%;
		margin:0 auto;
	}
	&__item--5{
		height:50%;
    width: 100%;
		background-color:#1DA1F3;
		display:flex;
		align-items:center;
	}
  &__item__twitterFeed{
    width: 370px;
    padding: 0px 10px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__item__twitter{
    display: block;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 1.8rem;
  }
  @include maxQuery(1300px){
    &__container--1{
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &__container--3{
      display: none;
    }
    &__container--4{
      width: 100%;
    }
    &__item--3{
      max-height: initial;
      height: auto;
    }
    &__item--5{
      height: auto;
    }
  }
	@include maxQuery(950px){
		&__container--1{
      padding-top: 0px;
      padding-bottom: 0px;
			width:100%;
		}
		&__container--2{
			width:100%;
		}
		&__container--3{
			display:none;
		}
		&__container--4{
			width:100%;
		}
		&__item--1{
			margin-top:54px;
			margin-bottom:60px;
      padding: 0px;
      width: 90%;
		}
		&__item--3{
			display:none;
		}
		&__item--5{
			margin:0 auto;
			height:auto;
		}
    &__item__twitterFeed{
      width: 90%;
    }
	}
}

.BlogGrid__item{
  &__heading--1 h3{
    margin: 0px;
    font-size: 2.25rem;
  }
	&__content--1{
		margin-bottom:40px;
	}
  &__date--1 p{
    margin-top: 0px;
    color: black;
  }
  &__author--1 p{
    color: black;
  }
	&__link--1{
    margin-top: 45px;
		display:inline-block;
	}
	&__twitterFeed{
		margin:0 auto;
		p{color:white;}
	}
	&__heading--2 h3 a{
		color:white;
    margin: 0px;
    font-size: 2.25rem;
	}
	&__date--2 p{
		color:white;
	}
	&__author--2 p{
		color:white;
	}
	@include maxQuery(950px){
    &__heading h3{
      font-size: 1.5rem;
    }
    &__link--1{
      margin-top: 15px;
    }
		&__twitterFeed{
			margin-top:40px;
			margin-bottom:40px;
		}
		&__button--1{
			height:47px;
			margin-bottom:0px;
		}
	}
}