.Clients{
  &__heading{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 2.25rem;
  }
  &__body{
    width: 720px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    p{margin-top: 0;}
  }
  &__images{
    display: inline-flex;
    justify-content: space-between;
  }
  &__image{
    vertical-align: middle;
  }
  @include maxQuery($s){
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    &__heading{
      font-size: 1.5rem;
    }
    &__body{
      display: none;
    }
    &__images{
      flex-flow: row wrap;
    }
    &__image-container{
      background-color: #F7F7F7;
      width: 47%;
      max-width: 180px;
      margin-bottom: 15px;
      &:last-child{
        display: none;
      }
    }
  }
  @include maxQuery(600px){
    &__image-container{
      &:nth-last-child(1),
      &:nth-last-child(2){
        margin-bottom: 0;
      }
    }
  }
}