.OurServices{
  display: flex;
  justify-content: space-between;
  &__links{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 35%;
  }
  &__description{
    width: 40%;
  }

  &__link-container{
    width: 50%;
  }
  &__link{
    color: black;
    font-size: 1.5rem;
    &:after{
      background-color: black;
      width: 90%;
    }
    &:hover{
      &:after{
        width: 90%;
      }
    }
  }
  @include maxQuery(1200px){
    padding: 0px 10px;
    &__links{
      width: 50%;
    }
    &__description{
      width: 50%;
    }
  }
  @include maxQuery(1000px){
    max-width: 90%;
    margin-left: auto; 
    margin-right: auto;
    flex-flow: column-reverse wrap;
    &__links,
    &__description{
      width: 100%;
    }
    &__heading{
      margin-top: 0px;
    }
    &__body p{
      font-size: .875rem;
      margin-bottom: 60px;
    }
    &__link-container:first-child,
    &__link-container:nth-child(2){
      margin-bottom: 40px;
    }
  }
}