.OurServices{
  &__heading{
    margin-bottom: 45px;
    font-size: 2.25rem;
  }
  &__body{
    width: 720px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  &__services{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__service{
    width: 30%;
    text-align: left;
    box-shadow: 3px 3px 20px rgba(0,0,0,.06);
    background: white;
    transition: background-color .5s, box-shadow .5s;
    a{display: inline-block;}
  }
  &__service-text{
    position: relative;
    &:after{
      width: 40%;
      max-width: 140px;
    }
  }
  &__service:hover{
    background-color: $accent;
    box-shadow: 3px 3px 20px rgba(0,0,0,.20);
    .OurServices__service-text{
      color: white;
      &:after{
        width: 100%;
        background-color: white;
      }
    }
  }
  &__service-text{
    line-height: 1.5;
    margin: 30px;
    margin-right: 0;
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    max-width: 160px;
    transition: color .5s;
    &:after{
      transition: background-color .5s, width .5s;
    }
    &--mobile{
      display: none;
    }
  }
  @include maxQuery($s){
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    &__service-image,
    &__heading,
    &__body{
      display: none;
    }
    &__service{
      width: 100%;
      box-shadow: none;
      border: 1px solid #e2e2e2;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__service-text{
      max-width: initial;
      margin-left: 10px;
      &--desktop{
        margin-bottom: 20px;
        display: block;
        &:after{
          display: none;
        }
      }
      &--mobile{
        display: inline-block;
        margin-top: 0px;
        font-size: 1.125rem;
        color: $btn-pfc;
        &:after{
          background-color: $accent;
          height: 2px;
        }
      }
    }
  }
}