<% nextStudyBanner = caseStudy.banner_gallery[0] %>
<% nextStudyBannerLogo = caseStudy.next_study_logo %>
<% nextUrl = dato.case_studies.first.handle %>
<% nextFound = false %>
<% nextStudyOpacity = 0 %>

<% dato.case_studies.each_with_index do |nextCaseStudy, index| %>
	<% if nextFound == true %>
		<% nextUrl = nextCaseStudy.handle %>
		<% nextStudyBanner = nextCaseStudy.banner_gallery[2] %>
		<% nextStudyBannerLogo = nextCaseStudy.next_study_logo %>
		<% nextStudyOpacity = nextCaseStudy.next_study_opacity %>
		<% break %>
	<% end %>
	<% if caseStudy.handle == nextCaseStudy.handle %>
		<% nextFound = true %>
		<% if dato.case_studies.length-1 == index %>
			<% nextUrl = dato.case_studies[0].handle %>
			<% nextStudyBanner = dato.case_studies[0].banner_gallery[2] %>
			<% nextStudyBannerLogo = dato.case_studies[0].next_study_logo %>
			<% nextStudyOpacity = dato.case_studies[0].next_study_opacity %>
		<% end %>
	<% end %>
<% end %>
<style>
	.CaseStudy__nextBanner__container--1::after{
		background-color: rgba(0,0,0, <%= nextStudyOpacity %>);
	}
</style>

<div class="space-120 mobile-space-60 CaseStudy__nextBanner__container--1" style="background-image:url('<%= nextStudyBanner.url %>');">
	<div class="container m">
		<div class=" row">
			<div class="CaseStudy CaseStudy__nextBanner__logo__container">
				<div class="large-12">
					<div class="CaseStudy CaseStudy__nextBanner__logo__container__content--1">
						<div class="CaseStudy__nextBanner__logo__container--2">
		    		<%= image_tag nextStudyBannerLogo.url, alt: nextStudyBannerLogo.alt, class:"CaseStudy__banner__logo" %>
		    		</div>
						<a href="/case-studies/<%= nextUrl %>" class="CaseStudy__nextBanner__link Link--underline">Next Case Study</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

