.ArticlePage{
  .Nav__link,
  .MainHeader__logo{
    color: black;
  }
  .Nav__link:after {
    background-color: black;
  }
  .Nav__item{
    svg{
      fill: $navigation-link-dark;
      transition: opacity .3s;
      opacity: .5;
    }
    &:hover{
      svg{
        opacity: 1;
      } 
    }
  }
  &__heading{
    text-align: center;
  }
  &__article-container:nth-child(odd){
    display: flex;
    justify-content: flex-start;    
  }
  &__article-container:nth-child(even){
    display: flex;
    justify-content: flex-end;
  }
  @include maxQuery($s){
    &__heading{
      font-size: 1.5rem;
    }
    .Nav__link{
      color: white;
    }
    &__article-container:nth-child(odd),
    &__article-container:nth-child(even){
      justify-content: center;
    }
  }
}

.ArticleContainer.m{
  display: flex;
  width: 70rem;
}

.Article{
  width: 60%;
  margin-left: auto;
  line-height: 1.5;
  &__heading {
    margin-top: 0;
  }
  h1{
    font-size: 2.25rem;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 1.5rem;
  }
  iframe{
    max-width: 100%;
  }
  h3 {
    font-size: 1.17rem;
    margin: 30px 0 20px;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.83rem;
  }
  h6 {
    font-size: 0.67rem;
  }
  h1, h2, h3, h4, h5, h6  {
    span { 
      font-size: inherit; 
      font-weight: bold !important;
    }
  }
  span, p,ul,li,ol,a{
    font-family: 'Avenir-Roman';
    font-size: 1.125rem;
  }
  a{
    text-decoration: underline;
    transition: color .3s;
    &:hover{
      color: $btn-pfc;
    }
  }
  p {
    margin: 0 0 30px;
  }
  img {
    margin-bottom: 30px;
  }
  ul{
    padding-left: 40px;
  }
  ul li{
    margin-bottom: 10px;
    list-style: disc;
  }
  ol li{
    margin-bottom: 10px;
    list-style: decimal;
  }
  &__author{
    font-family: 'Avenir-Roman';
    margin-bottom: 20px !important;
  }
  &__body p{
    color: $article-text;
    margin: 0 0 20px;
  }
  pre {
    img {
      display: block;
      margin-bottom: 0;
    }
    br {
      display: none;
    }
    font-family: 'Avenir-Roman';
  }
  @include maxQuery($s){
    h1{
      font-size: 1.7rem;
    }
  }
}

.Article .ArticleListing__date{
  display: none;
}
.ArticleSideColumn {
  width: 30%;
  margin-left: 10%;
  position: relative;
  &__trialForm {
    background-color: $trial-form-bg;
    padding: 30px 35px;
    h2,p {
      color: white;
    }
    p {
      font-size: 0.875rem; 
    }
    input {
      height: 50px;
      padding-left: 18px;
      margin-bottom: 89px;
    }
    button {
      height: 50px;
      border: none;
      background-color: $trial-form-button;
    }
  }
  &__relatedPost{
    margin: 40px 0 45px 0;
  }
  &__relatedPost-heading{
    margin: 0px 0 15px 0;
    font-size: 1.5rem;
  }
  &__relatedPostLink {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 20px;
    font-family: 'Avenir-Roman';
  }
  &__event {
    border: 1px solid #C9C9C9;
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
  &__eventInfo {
    padding: 20px 30px 40px;
    &__heading{
      margin-top: 10px;
    }
    input[type="email"] {
      width: 100%;
      height: 50px;
      padding-left: 18px;
      box-sizing: border-box;
    }
    button[type="submit"] {
      display: block;
      height: 50px;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 44px;
      margin-top: 20px;
      background-color: $newsletter-bg;
    }
  }
  &__signup {
    background-color: #F7F7F7;
    padding: 30px 32px 40px;
    &__heading{
      color: $heading;
      font-size: 1.5rem;
      margin-bottom: 25px;
    }
    &__body p{
      color: $heading;
      margin: 0 0 30px;
    }
    &__button{
      width: 100%;
      display: inline-block;
      padding: 0;
      text-align: center;
      height: 40px;
      line-height: 40px;
    }
  }
  &__download{
    background-image:url('../images/article-download-bg.png');
    background-size: cover;
    background-position: center;
    padding: 30px;
    padding-bottom: 45px;
    text-align: center;
    position: sticky;
    top: 20px;
    &__heading{
      margin-top: 0;
      font-size: 1.5rem;
      color: white;
      margin-bottom: 15px;
      text-align: left;
    }
    &__body{
      color: white;
      text-align: left;
    }
    &__image{
      box-shadow: 1px 1px 12px rgba(0,0,0,.5);
      margin-bottom: 45px;
      max-width: 130px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__input{
      width: 100%;
      color: $heading;
      margin-bottom: 30px;
      height: 45px;
      border-radius: 0;
      padding-left: 10px;
      border: none;
      box-sizing: border-box;
      @include placeholder{
        color: $heading;
      }
    }
    &__button{
      width: 100%;
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__input {
    display: flex;
    input {
      width: 75%;
      border-radius: 0;
      border: none;
    }
    button {
      width: 25%;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
@include maxQuery(1200px){
  .Article,
  .ArticleSideColumn{
    padding: 0px 10px;
  }
}
@include maxQuery($s) {
  .ArticleContainer.m {
    max-width: 90%;
  }
  .Article {
    width: 100%;
    padding: 0;
    h3 {
      font-size: 1.5rem;
    }
  }
  .ArticleSideColumn {
    display: none;
  }
}