.ContactForm {
	width: 100%;
	max-width: 956px;
	margin: 60px auto 164px;
	&__callBtn {
		display: none;
		width: 100%;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: $btn-pfc;
		border: 1px solid $btn-pfc;
		margin-bottom: 40px;
	}
	&__info {
		display: flex;
		margin-bottom: 60px;
	}
	&__infoItem {
		width: 50%;
		h6,p {
			color: $heading;
			margin: 0;
		}
		h6 {
			margin-bottom: 15px;
		}
		p {
			width: 91%;
		}
	}
	textarea {
		width: 100%;
		border: none;
		border-bottom: 1px solid $body;
		color: $body;
		height: 32px;
		line-height: 32px;
		font-size: 1.125rem;
		transition: border-bottom 0.3s;
		&:focus {
			outline: none;
		}
	}
	textarea:focus~label {
		bottom: 33px;
		font-size: 0.75rem;
		color: $btn-pfc;
	}
	textarea.input-focus {
		&~label {
			bottom: 33px;
			font-size: 0.75rem;
			color: $btn-pfc;
		}
	}
	input[type="submit"] {
		height: 60px;
		width: 143px;
		color: $btn-pfc-text;
		background-color: $btn-pfc;
		font-family: 'Avenir';
		font-size: 1.125rem;
		font-weight: 800;
	}
	.hide {
		display: none;
	}
	&__locations {
		display: none;
		h5 {
			color: $heading;
			margin: 40px 0 20px;
		}
		p {
			margin: 0;
		}
	}
	&__addresses {
		display: none;
		justify-content: space-between;
		align-items: center;
		p {
			width: 50%;
		}
	}
}

@include maxQuery($s){
	.ContactForm {
		width: 90%;
		max-width: none;
		margin: 30px auto 60px;
		&__callBtn {
			display: block;
		}
		&__info {
			margin-bottom: 30px;
		}
		&__infoItem {
			width: 100%;
			&:last-child {
				display: none;
			}
			h6 {
				font-size: 1.125rem;
				margin-bottom: 20px;
			}
		}
		&__locations {
			display: block;
		}
		&__addresses {
			display: flex;
		}
	}	
}