.eCommerceDesign{
	.MainHeader__logo,
	.Nav__link{
		color: $heading;
		svg{fill: $heading;}
	}
	.Nav__link:after{
		background-color: $heading;
	}
	.Nav__item--button .Btn{
		border-color: $heading;
		span{color: $heading;}
	}
	&__overflow-container{
		width: 100%;
		overflow: hidden;
	}
	&__container{
		max-width: 100%;
		width: 1440px;
		margin: 0 auto;
	}
	.Header__wrap--eCommerceDesign{
		background: #f7f7f7;
	}
}