.MainHeader{
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color .3s;
  background-color: transparent;
  &__logo-container{
    width: 14%;
  }
  &__logo{
    color: $logo-color;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.5rem;
    transition: color .3s;
  }
  &__nav{
    width: 86%;
  }
  @include maxQuery(1000px){
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: white;
    position: relative;
    &__logo{
      color: $logo-color-mobile;
    }
  }
}

.MainHeader.nav-is-open{
  background-color: black;
  .MainHeader__logo,
  .Nav__link{
    color: $logo-color-open;
  }
}