.MainHeader{
  display: flex;
  align-items: center;
  padding-top: 40px;
  &__logo-container{
    width: 14%;
  }
  &__logo{
    color: $logo-color;
    font-family: 'Montserrat';
    font-weight: 800;
  }
  &__nav{
    width: 86%;
  }
  @include maxQuery(1000px){
    padding: 0px;
    height: 50px;
  }
}