.flex{
  display: flex;
}
.flex.wrap{
  flex-wrap: wrap;
}
.background-gray{
  background-color: #FAFAFA;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.space-30{
  margin-top: 30px;
}
.space-bottom-30{
  margin-bottom: 30px;
}
.space-60{
  margin-top: 60px;
}
.space-bottom-60{
  margin-bottom: 60px;
}
.space-90{
	margin-top: 90px;
}
.space-bottom-90{
  margin-bottom: 90px;
}
.space-120 {
	margin-top: 120px;
}
.space-bottom-120{
  margin-bottom: 120px;
}
.space-150 {
  margin-top: 150px;
}
.space-bottom-150{
  margin-bottom: 150px;
}
.space-180{
  margin-top: 180px;
}
.space-bottom-180{
  margin-bottom: 180px;
}
.space-185{
  margin-top:185px;
}
.space-bottom-170{
  margin-bottom: 170px;
}
.space-200{
  margin-top: 200px;
}
.space-bottom-200{
  margin-bottom: 200px;
}
.space-bottom-250{
  margin-bottom: 250px;
}
.space-bottom-270{
  margin-bottom: 270px;
}
.space-300{
  margin-top: 300px;
}
.space-bottom-300{
  margin-bottom: 300px;
}
.space-450{
  margin-top: 450px;
}
.space-bottom-450{
  margin-bottom: 450px;
}
.padding-75{
  padding-top: 75px;
}
.padding-90{
	padding-top: 90px;
}
.padding-bottom-90{
  padding-bottom: 90px;
}
.padding-120{
	padding-top:120px;
}
.padding-bottom-120{
  padding-bottom: 120px;
}
.padding-150{
  padding-top: 150px;
}
.padding-bottom-150{
  padding-bottom: 150px;
}
.padding-200{
  padding-top: 200px;
}
.padding-bottom-200{
  padding-bottom: 200px;
}
.padding-300{
  padding-top: 300px;
}
.padding-bottom-300{
  padding-bottom: 300px;
}
.mobile-space-0{
  @media screen and (max-width: $s){
    margin-top: 0px;
  } 
}
.mobile-space-bottom-0{
  @media screen and (max-width: $s){
    margin-bottom: 0px;
  } 
}
.mobile-space-30{
  @media screen and (max-width: $s){
    margin-top: 30px;
  } 
}
.mobile-space-bottom-30{
  @media screen and (max-width: $s){
    margin-bottom: 30px;
  } 
}
.mobile-padding-30{
  @media screen and (max-width: $s){
    padding-top: 30px;
  }
}
.mobile-space-bottom-30{
  @media screen and (max-width: $s){
    margin-bottom: 30px;
  } 
}
.mobile-padding-bottom-30{
  @media screen and (max-width: $s){
    padding-bottom: 30px;
  }
}
.mobile-space-bottom-40{
  @media screen and (max-width: $s){
    margin-bottom: 40px;
  } 
}
.mobile-padding-bottom-40{
  @media screen and (max-width: $s){
    padding-bottom: 40px;
  }
}
.mobile-space-60{
  @media screen and (max-width: $s){
    margin-top: 60px;
  }
}
.mobile-space-bottom-60{
  @media screen and (max-width: $s){
    margin-bottom: 60px;
  } 
}
.mobile-space-padding-60{
  @media screen and (max-width: $s){
    padding-top: 60px;
  }
}

.mobile-space-padding-bottom-60{
  @media screen and (max-width: $s){
    padding-bottom: 60px;
  }
}

.mobile-space-padding-90{
  @media screen and (max-width: $s){
    padding-top: 90px;
  }
}

.mobile-space-padding-bottom-90{
  @media screen and (max-width: $s){
    padding-bottom: 90px;
  }
}


.tablet-space-0{
  @media screen and (max-width: 1100px){
    margin-top: 0px;
  } 
}
.tablet-space-bottom-0{
  @media screen and (max-width: 1100px){
    margin-bottom: 0px;
  } 
}
.tablet-space-30{
  @media screen and (max-width: 1100px){
    margin-top: 30px;
  } 
}
.tablet-space-bottom-30{
  @media screen and (max-width: 1100px){
    margin-bottom: 30px;
  } 
}
.tablet-padding-30{
  @media screen and (max-width: 1100px){
    padding-top: 30px;
  }
}
.tablet-space-bottom-30{
  @media screen and (max-width: 1100px){
    margin-bottom: 30px;
  } 
}
.tablet-padding-bottom-30{
  @media screen and (max-width: 1100px){
    padding-bottom: 30px;
  }
}
.tablet-space-bottom-40{
  @media screen and (max-width: 1100px){
    margin-bottom: 40px;
  } 
}
.tablet-padding-bottom-40{
  @media screen and (max-width: 1100px){
    padding-bottom: 40px;
  }
}
.tablet-space-60{
  @media screen and (max-width: 1100px){
    margin-top: 60px;
  }
}
.tablet-space-bottom-60{
  @media screen and (max-width: 1100px){
    margin-bottom: 60px;
  } 
}
.tablet-space-padding-60{
  @media screen and (max-width: 1100px){
    padding-top: 60px;
  }
}

.tablet-space-padding-bottom-60{
  @media screen and (max-width: 1100px){
    padding-bottom: 60px;
  }
}
.tablet-space-90{
  @media screen and (max-width: 1100px){
    margin-top: 90px;
  }
}
.tablet-space-bottom-90{
  @media screen and (max-width: 1100px){
    margin-bottom: 90px;
  } 
}
.tablet-space-padding-90{
  @media screen and (max-width: 1100px){
    padding-top: 90px;
  }
}

.tablet-space-padding-bottom-90{
  @media screen and (max-width: 1100px){
    padding-bottom: 90px;
  }
}