.flex{
  display: flex;
}
.flex.wrap{
  flex-wrap: wrap;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.space-90 {
	margin-top: 90px;
}
.space-120 {
	margin-top: 120px;
}
.space-150 {
  margin-top: 150px;
}
.padding-90{
	padding-top: 90px;
}
.padding-120{
	padding-top:120px;
}

.mobile-space-60{
  @media screen and (max-width: $s){
    margin-top: 60px;
  }
}
.mobile-space-padding-60{
  @media screen and (max-width: $s){
    padding-top: 60px;
  }

}