.Homepage{
  .MainHeader{
    &__logo{
      color: $logo-color-dark;
    }
  }
  .Nav{
    &__link{
      color: $navigation-link-dark;
    }
    &__item--button{
      .Btn{
        border-color: $navigation-link-dark;
        &:after{
          background-color: $navigation-link-dark;
        }
        &:hover{
          span{
            color: $navigation-link;
          }
        }
      }
      span{
        color: $navigation-link-dark;
      }
    }
  }
  .CaseStudyGrid{
    position: relative;
    z-index: 3;
  }
  .ReviewBlogContainerBackground{
    position: relative;
    padding-top: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    &:after{
      content:'';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.4);
    }
  }
  .ReviewBlogContainerBackground .container{
    position: relative;
    z-index: 2;
  }
  .ReviewBlogContainerBackgroundAlt{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1s;
  }
}