.Homepage{
  .CaseStudyGrid{
    position: relative;
    z-index: 2;
  }
  .ReviewBlogContainerBackground{
    position: relative;
    padding-top: 75px;
  }
  .ReviewBlogContainerBackgroundAlt{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1s;
  }
}