.News{
  .Nav__link,
  .MainHeader__logo{
    color: black;
  }
  .Nav__link{
    @include maxQuery(1000px){
      color:white;
    }
  }
  .Btn.Btn--animatedLeft{
    border-color: black;
    span{color: black;}
    &:after{
      background-color: black;
    }
    &:hover{
      span{color: white;}
    }
  }
  &__heading{
    text-align: center;
  }
  &__article-container:nth-child(odd){
    display: flex;
    justify-content: flex-start;    
  }
  &__article-container:nth-child(even){
    display: flex;
    justify-content: flex-end;
  }
  @include maxQuery($s){
    &__heading{
      font-size: 1.5rem;
    }
    &__article-container:nth-child(odd),
    &__article-container:nth-child(even){
      justify-content: center;
    }
  }
}