.ServicesPage {
	.Hero__text {
		width: 560px;
		max-width: 100%;
	}
	&__banner {
		width: 100%;
	}
	&__CaptionedImage__container {
		display: flex;
		flex-direction: column;
	}
	&__captionedImage {
		width: 75%;
		margin-left: auto;
		@include maxQuery($s){
			width: 100%;
		}
	}
	&__captionedImageText {
		width: 75%;
		margin-left: auto;
		font-size: 0.875rem;
		@include maxQuery($s){
			width: 95%;
		}
	}
	
}

