.Whatis{
  .SkewedBanner{
    margin-bottom: 30px;
    @include maxQuery($s){
      margin-bottom: 0;
    }
  }
  .Btn--whatis{
    background-color: #FFC156;
    font-weight: 800;
    font-family: 'Avenir';
    border: 2px solid #FFC156;
    span{color: $heading;}
    &:hover{
      cursor: pointer;
    }
    @include maxQuery($s){
      width: 100%;
    }
  }
  .ImageText__body-grid{
    margin-bottom: 60px;
    @include maxQuery($s){
      margin-bottom: 0;
    }
  }
}