.Whatis{
  .SkewedBanner{
    margin-bottom: 30px;
    @include maxQuery($s){
      margin-bottom: 0;
    }
  }
  .Btn--whatis{
    font-family: 'Avenir';
    span{color: $heading;}
    &:hover{
      cursor: pointer;
    }
    @include maxQuery($s){
      width: 100%;
    }
  }
  .ImageText__body-grid{
    margin-bottom: 60px;
    @include maxQuery($s){
      margin-bottom: 0;
    }
  }
}