.MigrateQuote{
  text-align: center;
  &__icon{
    margin-bottom: 25px;
  }
  &__text{
    margin: 0;
    margin-bottom: 40px;
  }
  &__quote{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Avenir';
    color: $heading;
    display: inline-block;
    margin-bottom: 20px;
  }
  &__source{
    display: inline-block;
    font-style: italic;
    font-family: 'Avenir';
  }
  &__images{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 550px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__image{
    flex: 1;
  }
  @include maxQuery($s){
    @include mobileContainer();
    &__image{
      flex: auto;
      width: 50%;
      &:first-child,
      &:nth-child(2){
        margin-bottom: 40px;
      }
    }
  }
}