.MigrateSlider{
  &__slider-container{
    position: relative;
  }
  &__slide{
    position: relative;
  }
  &__background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: flex-end;
  }
  &__logo{
    margin-bottom: 30px;
  }
  &__text-container{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
  }
  &__image{
    width: 50%;
  }
  &__text{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 75px;
    @include maxQuery($m){
      margin-left: 10px;
    }
    &--black{
      .MigrateSlider__heading,
      .MigrateSlider__body,
      .MigrateSlider__stats{
        color: $heading;
      }
    }
    &--white{
      .MigrateSlider__heading,
      .MigrateSlider__body,
      .MigrateSlider__stats{
        color: white;
      }
    }
  }
  &__text-content{
    width: 489px;
    padding-right: 10px;
  }
  &__heading{
    margin-top: 0;
    font-size: 2.25rem;
    margin-bottom: 0;
    font-weight: 500;
  }
  &__body{
    margin-top: 25px;
    font-size: 1.125rem;
  }
  &__stats{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__stat{
    flex: 1;
    &__value{
      font-size: 2.5rem;
      font-weight: 800;
    }
    &__label{
      font-size: 1.125rem;
      font-family: 'Avenir-Roman';
    }
  }
  &__arrows-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27px;
  }
  &__arrows{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-flex;
    width: 80px;
    justify-content: space-between;
    @include maxQuery($m){
      margin-right: 10px;
    }
  }
  &__arrow{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 3px;
    transition: background-color .3s;
    &:hover{
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }
  @include maxQuery($s){
    &__background{
      background-position: right;
      flex-flow: row wrap;
    }
    &__logo{
      margin-left: auto;
      margin-right: auto;
    }
    &__text-container{
      flex-flow: column-reverse wrap;
      text-align: center;
      align-items: center;
      padding-top: 60px;
    }
    &__text{
      background: transparent;
      margin-left: 0;
      padding: 0;
      padding: 20px;
      height: auto;
      width: 90%;
      justify-content: center;
    }
    &__text-content{
      padding-right: 0;
    }
    &__image{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    &__stat{
      &__label{
        font-size: .8rem;
      }
      &__value{
        font-size: 1.5rem;
      }
    }
    &__logo{
      margin-bottom: 20px;
    }
    &__heading{
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
    &__arrows{
      display: none;
    }
  }
}