<div class="ConsultationBanner padding-90 padding-bottom-90">
  <div class="container s">
  <div class="ConsultationBanner__content">
    <h3 class="ConsultationBanner__heading"><%= dato.consultation_banner.heading %></h3>
    <div class="ConsultationBanner__body">
      <%= dato.consultation_banner.body %>
    </div>
      <a  id="ContactFormButton" class="ConsultationBanner__button Btn Btn--filled"><%= dato.consultation_banner.link_text %></a>
    </div>
  </div>
  <%= image_tag dato.consultation_banner.image.url, alt: dato.consultation_banner.image.alt, class:"ConsultationBanner__image" %>
</div>
