<div class="ContactPopUp">
	<div class="ContactPopUp__overlay">
		<div class="ContactPopUp__form">
			<h1><%= dato.contact_form.heading %></h1>
			<p><%= dato.contact_form.form_text %></p>
			<form id="form96" name="form96" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://shopifybuilder.wufoo.eu/forms/kmjfzql1wfq68r/#public">
			<ul>
			<div class="ContactPopUp__formTopRow">
				<div class="ContactPopUp__half">
					<li id="foli4" class="notranslate      ">
					<div class="ContactPopUp__input">
					<label class="desc" id="title4" for="Field4">
					Full name
					</label>
					<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       placeholder="" />
					</div>
					</li>
					<li id="foli13" class="notranslate      ">
					<div class="ContactPopUp__input">
					<label class="desc " id="title13" for="Field13">
					Phone
					</label>
					<input id="Field13" name="Field13" type="text" class="field text nospin medium"  value="" tabindex="2" onkeyup="" placeholder=""       />
					</div>
					</li>
					<li id="foli7" class="      ">
					<div class="ContactPopUp__input">
					<label class="desc notranslate" id="title7" for="Field7">
					Budget
					</label>
					<select id="Field7" name="Field7" class="field select medium"       tabindex="3" >
					<option
					value="" selected="selected">
					<span class="notranslate"></span>
					</option>
					<option
					value="&lt; $10,000" >
					<span class="notranslate">< $10,000</span>
					</option>
					<option
					value="$10,000 - $15,000" >
					<span class="notranslate">$10,000 - $15,000</span>
					</option>
					<option
					value="$15,000 - $20,000" >
					<span class="notranslate">$15,000 - $20,000</span>
					</option>
					<option
					value="&gt; $20,000" >
					<span class="notranslate">> $20,000</span>
					</option>
					</select>
					</div>
					</li>
				</div>
				<div class="ContactPopUp__half">
					<li id="foli9" class="notranslate      ">
					<div class="ContactPopUp__input">
					<label class="desc" id="title9" for="Field9">
					Email
					</label>
					<input id="Field9" name="Field9" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="4"       placeholder="" />
					</div>
					</li>
					<li id="foli10" class="notranslate       ">
					<div class="ContactPopUp__input">
					<label class="desc" id="title10" for="Field10">
					Website URL (Optional)
					</label>
					<input id="Field10" name="Field10" type="url" class="field text medium" value="" maxlength="255" tabindex="5" placeholder=""       />
					</div>
					</li>
				</div>
			</div>
			<div class="ContactPopUp__textarea">
				<li id="foli15"
				class="notranslate      ">
				<div class="ContactPopUp__input">
				<label class="desc" id="title15" for="Field15">
				Tell us about your project
				</label>
				<textarea id="Field15"
				name="Field15"
				class="field textarea medium"
				spellcheck="true"
				rows="10" cols="50"

				tabindex="6"
				onkeyup=""
				placeholder=""
				       ></textarea>
				</div>
			</div>
			<div class="ContactPopUp__submit">
				<input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
				<%= image_tag dato.contact_form.form_image.url, alt: dato.contact_form.form_image.alt, class:"ContactPopUp__image" %>
			</div>
			

			<li class="hide">
			<label for="comment">Do Not Fill This Out</label>
			<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
			<input type="hidden" id="idstamp" name="idstamp" value="B3CCQjcvEz00I+Ktnxzv1QoH+sO8IelY0gkMBi8kT1M=" />
			</li>
			</ul>
			</form>
		</div>
	</div>
</div>