<% if icon == 'down-arrow' %> 
<svg width="25" height="15" viewBox="0 0 25 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Vector 2.2</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-38979 -73)">
<g id="Vector 2.2">
<use xlink:href="#path0_stroke" transform="translate(38981 75)" fill="#4C54B0"/>
</g>
</g>
<defs>
<path id="path0_stroke" d="M 10.5 10L 9.46552 11.0862L 10.5 12.0714L 11.5345 11.0862L 10.5 10ZM -1.03448 1.08621L 9.46552 11.0862L 11.5345 8.91379L 1.03448 -1.08621L -1.03448 1.08621ZM 11.5345 11.0862L 22.0345 1.08621L 19.9655 -1.08621L 9.46552 8.91379L 11.5345 11.0862Z"/>
</defs>
</svg>

<% elsif icon == 'left-arrow' %>
<svg width="24" height="16" viewBox="0 0 24 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Vector</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-625 -1678)">
<g id="Vector">
<use xlink:href="#path0_stroke" transform="matrix(-1 0 0 1 648.5 1679)" fill="#C2C2C2"/>
</g>
</g>
<defs>
<path id="path0_stroke" d="M 21.5 7L 22.2071 7.70711L 22.9142 7L 22.2071 6.29289L 21.5 7ZM 0 8L 21.5 8L 21.5 6L 0 6L 0 8ZM 22.2071 6.29289L 15.2071 -0.707107L 13.7929 0.707107L 20.7929 7.70711L 22.2071 6.29289ZM 20.7929 6.29289L 13.7929 13.2929L 15.2071 14.7071L 22.2071 7.70711L 20.7929 6.29289Z"/>
</defs>
</svg>

<% elsif icon == 'right-arrow' %>
<svg width="23" height="16" viewBox="0 0 23 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Vector</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-748 -1678)">
<g id="Vector">
<use xlink:href="#path0_stroke" transform="translate(748 1679)" fill="#C2C2C2"/>
</g>
</g>
<defs>
<path id="path0_stroke" d="M 21.5 7L 22.2071 7.70711L 22.9142 7L 22.2071 6.29289L 21.5 7ZM 0 8L 21.5 8L 21.5 6L 0 6L 0 8ZM 22.2071 6.29289L 15.2071 -0.707107L 13.7929 0.707107L 20.7929 7.70711L 22.2071 6.29289ZM 20.7929 6.29289L 13.7929 13.2929L 15.2071 14.7071L 22.2071 7.70711L 20.7929 6.29289Z"/>
</defs>
</svg>
<% elsif icon == 'logo' %>
  <svg width="45" height="45" viewBox="0 0 45 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>P.</title>
  <desc>Created using Figma</desc>
  <g id="Canvas" transform="translate(-21114 -2666)">
  <rect x="21114" y="2666" width="45" height="45" fill="#E5E5E5"/>
  <clipPath id="clip-0" clip-rule="evenodd">
  <path d="M 20992 -513L 22432 -513L 22432 3188L 20992 3188L 20992 -513Z" fill="#FFFFFF"/>
  </clipPath>
  <g id="Services" clip-path="url(#clip-0)">
  <path d="M 20992 -513L 22432 -513L 22432 3188L 20992 3188L 20992 -513Z" fill="#FFFFFF"/>
  <g id="Footer">
  <g id="Rectangle 9">
  <use xlink:href="#path0_fill" transform="translate(20211 2574)" fill="#231F20"/>
  </g>
  <g id="P.">
  <use xlink:href="#path1_fill" transform="translate(21114 2666)" fill="#FFFFFF"/>
  <use xlink:href="#path2_fill" transform="translate(21114 2666)" fill="#FFFFFF"/>
  </g>
  </g>
  </g>
  </g>
  <defs>
  <path id="path0_fill" d="M 0 0L 3005 0L 3005 666L 0 666L 0 0Z"/>
  <path id="path1_fill" d="M 15.8163 0C 22.6892 0 27.6838 1.33663 30.8001 4.0099C 33.9591 6.64074 35.5386 10.7143 35.5386 16.2306C 35.5386 21.7044 33.9164 25.7143 30.672 28.2603C 27.4703 30.8062 22.5611 32.0792 15.9443 32.0792L 9.98922 32.0792L 9.98922 44.4908L 0 44.4908L 0 0L 15.8163 0ZM 16.7127 23.4866C 20.0425 23.4866 22.305 22.8289 23.5003 21.5134C 24.6956 20.1556 25.2932 18.2037 25.2932 15.6577C 25.2932 13.0693 24.5035 11.2447 22.924 10.1839C 21.3872 9.08062 18.9752 8.529 15.6882 8.529L 9.98922 8.529L 9.98922 23.4866L 16.7127 23.4866Z"/>
  <path id="path2_fill" d="M 35.3309 43.4088C 34.2637 42.3055 33.7301 40.9689 33.7301 39.3989C 33.7301 37.8289 34.2637 36.5134 35.3309 35.4526C 36.4409 34.3494 37.7856 33.7977 39.3651 33.7977C 40.9445 33.7977 42.2679 34.3494 43.3351 35.4526C 44.445 36.5134 45 37.8289 45 39.3989C 45 40.9689 44.445 42.3055 43.3351 43.4088C 42.2679 44.4696 40.9445 45 39.3651 45C 37.7856 45 36.4409 44.4696 35.3309 43.4088Z"/>
  </defs>
  </svg>

  <% elsif icon == 'arrow-submit' %>
  <svg width="19" height="17" viewBox="0 0 19 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Vector</title>
  <desc>Created using Figma</desc>
  <g id="Canvas" transform="translate(-35822 -1464)">
  <g id="Vector">
  <use xlink:href="#path0_stroke" transform="translate(35822 1465)" fill="#FFFFFF"/>
  </g>
  </g>
  <defs>
  <path id="path0_stroke" d="M 17.5 7.5L 18.2071 8.20711L 18.9142 7.5L 18.2071 6.79289L 17.5 7.5ZM 0 8.5L 17.5 8.5L 17.5 6.5L 0 6.5L 0 8.5ZM 18.2071 6.79289L 10.7071 -0.707107L 9.29289 0.707107L 16.7929 8.20711L 18.2071 6.79289ZM 16.7929 6.79289L 9.29289 14.2929L 10.7071 15.7071L 18.2071 8.20711L 16.7929 6.79289Z"/>
  </defs>
  </svg>

  <% elsif icon == 'close' %>
  <svg width="21" height="21" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Vector</title>
  <desc>Created using Figma</desc>
  <g id="Canvas" transform="translate(-54627 81)">
  <g id="Vector">
  <use xlink:href="#path0_stroke" transform="translate(54628.5 -80)" fill="#979797"/>
  </g>
  </g>
  <defs>
  <path id="path0_stroke" d="M -0.687745 0.725953L 8.81225 9.72595L 10.1877 8.27405L 0.687745 -0.725953L -0.687745 0.725953ZM 8.77405 9.68775L 17.774 19.1877L 19.226 17.8123L 10.226 8.31225L 8.77405 9.68775ZM 10.2071 9.70711L 19.2071 0.707107L 17.7929 -0.707107L 8.79289 8.29289L 10.2071 9.70711ZM 17.7929 -0.707107L -0.707107 17.7929L 0.707107 19.2071L 19.2071 0.707107L 17.7929 -0.707107Z"/>
  </defs>
  </svg>

<% end %>