<div class="Description <% if modifier != nil  %>Description<%= modifier %><% end %>">
	<div class="Description__heading">
		<h2><%= heading %></h2>
	</div>
	<div class="Description__body">
		<%= body %>
	</div>
</div>

