.ContactPopUp {
	display: none;
	&__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.33);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 25;
	}
	&__form {
		width: 100%;
		max-width: 1114px;
		background-color: $form-bg;
		box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
		padding: 50px 0 60px;
		position: relative;
		h1 {
			font-size: 3rem;
			text-align: center;
			margin: 0 0 45px;
			color: #fff;
		}
		p {
			color: #fff;
			margin: 0;
			text-align: center;
			padding-bottom: 61px;
		}
	}
	ul {
		width: 100%;
		max-width: 851px;
		margin: 0 auto;
	}
	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}
	&__formTopRow {
		display: flex;
		flex-flow: row wrap;
		li {
			width: 50%;
			box-sizing: border-box;
			&:nth-child(odd) {
				padding-right: 55px;
			}
		}
		.hiddenSelect {
			position: absolute;
			visibility: hidden;
		}
	}
	&__input {
		position: relative;
		margin-bottom: 30px;
		label {
			color: #fff;
			font-family: 'Avenir';
			font-size: 1.125rem;
			position: absolute;
			left: 0;
			bottom: 8px;
			transition: all 0.3s;
		}
		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #fff;
			color: #fff;
			background-color: $form-bg;
			height: 32px;
			font-size: 1.125rem;
			transition: border-bottom 0.3s;
			&:focus {
        		color: $heading;
				outline: none;
				border-bottom: 1px solid #fff;
			}
		}
		input:focus {
			color: #fff;
		}
		input:focus~label{
			bottom: 29px;
			font-size: 0.75rem;
			color: #fff;
		}
		.input-focus {
			color: #fff;
			&~label {
				bottom: 29px;
				font-size: 0.75rem;
				color: #fff;
			}
		}
	}
	.dropdownMenu {
		display: none;
		padding-right: 55px;
		width: 46%;
		cursor: pointer;
		.chevron {
			position: absolute;
			right: -28px;
			top: 9px;
			cursor: pointer;
		}
	}
	&__dropdown {
		text-align: center;
		height: 0;
		transition: height 0.3s;
		position: absolute;
		width: 100%;
		z-index: 1;
		overflow: hidden;
		li {
			width: 100%;
			color: #fff;
			background-color: $btn-pfc;
			font-size: 1.125rem;
			padding: 13px 0;
			&:nth-child(odd) {
				padding-right: 0;
			}
		}
	}
	&__dropdown.active {
		height: auto;
	}
	textarea {
		width: 100%;
		border: none;
		border-bottom: 1px solid #fff;
		color: #fff;
		background-color: $form-bg;
		height: 32px;
		line-height: 32px;
		font-size: 1.125rem;
		transition: border-bottom 0.3s;
		&:focus {
			outline: none;
		}
	}
	textarea:focus~label {
		bottom: 33px;
		font-size: 0.75rem;
		//color: $btn-pfc;
	}
	textarea.input-focus {
		&~label {
			bottom: 33px;
			font-size: 0.75rem;
			//color: $btn-pfc;
		}
	}
	&__submit {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	input[type="submit"] {
		height: 60px;
		width: 100%;
		border: none;
		color: #000000;
		border-radius: 5px;
		background-color: $form-btn-bg;
		font-family: 'Avenir';
		font-size: 1.5rem;
		font-weight: 800;
	}
	.hide {
		display: none;
	}
	&__call {
		display: none;
		text-align: center;
		font-size: 1.125rem;
		font-weight: 800;
		text-decoration: underline;
		margin-top: 50px;
	}
	&__image {
		display: block;
		margin: 45px auto 0;
	}
	&__form.light {
		background-color: #fff;
		h1, p {
			color: $heading;
		}
		.ContactPopUp__input {
			label {
				color: $heading;
			}
			input {
				background-color: #fff;
				border-bottom: 1px solid #000;
				color: $heading;
				transition: border-bottom 0.3s;
				&:focus {
					border-bottom: 1px solid $btn-pfc;	
				}
			}
			input:focus~label{
				color: $btn-pfc;
			}
			.input-focus {
				border-bottom: 1px solid $btn-pfc;
				&~label {
					color: $btn-pfc;
				}
			}
		}
		textarea {
			background-color: #fff;
			border-bottom: 1px solid #000;
			color: $heading;
			transition: border-bottom 0.3s;
			&:focus {
				border-bottom: 1px solid $btn-pfc;	
			}
		}
		textarea:focus~label {
			color: $btn-pfc;
		}
		textarea.input-focus {
			&~label {
				color: $btn-pfc;
			}
		}
	}
}

@include maxQuery($s){
	.ContactPopUp {
		&__form {
			height: 100%;
			box-sizing: border-box;
			padding: 45px 32px;
			h1,p {
				text-align: left;
			}
			h1 {
				font-size: 1.5rem;
				margin-bottom: 20px;
			}
			p {
				padding-bottom: 30px;
			}
		}
		&__formTopRow {
			flex-direction: column;
			li {
				width: 100%;
				&:nth-child(odd) {
					padding-right: 0;
				}
			}
		}
		&__input {
			margin-bottom: 20px;
			input,label {
				font-size: 0.875rem;
			}
		}
		&__submit {
			input[type="submit"] {
				font-size: 0.875rem;
				width: 100%;
				height: 45px;
			}
			img {
				display: none;
			}
		}
		&__call {
			display: block;
		}
		.dropdownMenu {
			width: 95%;
			padding-right: 0;
			.chevron {
				right: -25px;
			}
		}
	}
}