.ContactPopUp {
	display: none;
	&__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.33);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
	}
	&__form {
		width: 100%;
		max-width: 956px;
		background-color: #fff;
		box-shadow: 4px 4px rgba(0,0,0,0.25);
		padding: 45px 53px;
		position: relative;
		h1 {
			font-size: 2.25rem;
			text-align: center;
			margin-bottom: 15px;
		}
		p {
			color: $heading;
			margin: 0;
			text-align: center;
			padding-bottom: 61px;
		}
	}
	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}
	&__formTopRow {
		display: flex;
		flex-flow: row wrap;
		li {
			width: 50%;
			box-sizing: border-box;
			&:nth-child(odd) {
				padding-right: 55px;
			}
		}
		.hiddenSelect {
			position: absolute;
			visibility: hidden;
		}
	}
	&__input {
		position: relative;
		margin-bottom: 30px;
		label {
			color: $body;
			font-family: 'Avenir';
			font-size: 1.125rem;
			position: absolute;
			bottom: 8px;
			transition: all 0.3s;
		}
		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid $body;
			color: $body;
			height: 32px;
			font-size: 1.125rem;
			transition: border-bottom 0.3s;
			&:focus {
				outline: none;
				border-bottom: 1px solid $btn-pfc;
			}
		}
		input:focus~label{
			bottom: 29px;
			font-size: 0.75rem;
			color: $btn-pfc;
		}
		.input-focus {
			&~label {
				bottom: 29px;
				font-size: 0.75rem;
				color: $btn-pfc;
			}
		}
	}
	.dropdownMenu {
		padding-right: 55px;
		width: 46%;
		cursor: pointer;
		.chevron {
			position: absolute;
			right: -28px;
			top: 9px;
			cursor: pointer;
		}
	}
	&__dropdown {
		text-align: center;
		height: 0;
		transition: height 0.3s;
		position: absolute;
		width: 100%;
		z-index: 1;
		overflow: hidden;
		li {
			width: 100%;
			color: #fff;
			background-color: $btn-pfc;
			font-size: 1.125rem;
			padding: 13px 0;
			&:nth-child(odd) {
				padding-right: 0;
			}
		}
	}
	&__dropdown.active {
		height: auto;
	}
	textarea {
		width: 100%;
		border: none;
		border-bottom: 1px solid $body;
		color: $body;
		height: 32px;
		line-height: 32px;
		font-size: 1.125rem;
		transition: border-bottom 0.3s;
		&:focus {
			outline: none;
		}
	}
	textarea:focus~label {
		bottom: 33px;
		font-size: 0.75rem;
		color: $btn-pfc;
	}
	textarea.input-focus {
		&~label {
			bottom: 33px;
			font-size: 0.75rem;
			color: $btn-pfc;
		}
	}
	&__submit {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	input[type="submit"] {
		height: 60px;
		width: 143px;
		color: $btn-pfc-text;
		background-color: $btn-pfc;
		font-family: 'Avenir';
		font-size: 1.125rem;
		font-weight: 800;
	}
	.hide {
		display: none;
	}
	&__call {
		display: none;
		text-align: center;
		font-size: 1.125rem;
		font-weight: 800;
		text-decoration: underline;
		margin-top: 50px;
	}
}

@include maxQuery($s){
	.ContactPopUp {
		&__form {
			height: 100%;
			box-sizing: border-box;
			padding: 45px 32px;
			h1,p {
				text-align: left;
			}
			h1 {
				font-size: 1.5rem;
				margin-bottom: 20px;
			}
			p {
				padding-bottom: 30px;
			}
		}
		&__formTopRow {
			flex-direction: column;
			li {
				width: 100%;
				&:nth-child(odd) {
					padding-right: 0;
				}
			}
		}
		&__input {
			margin-bottom: 20px;
			input,label {
				font-size: 0.875rem;
			}
		}
		&__submit {
			input[type="submit"] {
				font-size: 0.875rem;
				width: 100%;
				height: 45px;
			}
			img {
				display: none;
			}
		}
		&__call {
			display: block;
		}
		.dropdownMenu {
			width: 95%;
			padding-right: 0;
			.chevron {
				right: -25px;
			}
		}
	}
}