.ContactBanner{
  background-color: $accent;
  position: relative;
  overflow: hidden;
  z-index: 2;
  .ContactPage__form{
    &__heading{
      color: white;
      margin-bottom: 45px;
    }
    &__input input,
    &__input label{
      color: white !important;
      border-color: white !important;
    }
    .Btn#saveForm{
      font-size: 1.125rem;
    }
  }
  &:after{
    content:'';
    display: block;
    height: 50px;
    width: 50px;
    background: white;
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}