@keyframes slideUp {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@mixin slideUpAnimation($animation-duration, $animation-delay){
  position: relative;
  top: 30px;
  animation: $animation-duration ease-out 0s 1 slideUp;
  animation-delay: $animation-delay;
  animation-fill-mode: forwards;
}
.Hero{    
  position: relative;
  &__image{
    position: relative;
    z-index: 1;
    display: block;
    min-height: 550px;
    height: 88vh;
    width: 100%;
    margin-top: -70px;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  &__text{
    position: absolute;
    z-index:4;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.2);
    z-index:2;
  }
  @include maxQuery($s){
    &__image{
      min-height: 290px;
      margin-top: 0px;
      height: auto;
    }
  }
}

.Hero__text{
  text-align: center;
  width: 100%;
  &__heading{
    opacity: 0;
    color: white;
    margin-bottom: 46px;
    @include slideUpAnimation(1.5s, 0s);
  }
  &__partners{
    opacity: 0;
    margin-bottom: 21px;
    color: white;
    font-family: 'Avenir-Roman';
    font-size: 1.125rem;
    @include slideUpAnimation(1s, .5s);
  }
  &__subheading-image{
    opacity: 0;
    @include slideUpAnimation(1s, .5s);
  }
  @include maxQuery($s){
    &__heading{
      font-size: 1.5rem;
    }
    &__partners{
      font-size: .75rem;
    }
    img{
      max-width: 200px;
    }
  }
}
.Hero__text{
  &__builtwith{    
    display:flex;
    justify-content:center;
    align-items:center;
  }
  &__builtwith p{
      color:white;
      margin:0;
      margin-top:5px;
  }
}
.Hero__image--homepage{}
.Hero__image--casestudy,
.Hero__image--whatis{
  height: 70vh;
  @include maxQuery($s){
    height: auto;
  }
}
.Hero__image--homewareTextile{
  height: 67vh;
  @include maxQuery($s){
    height: 60vh;
  }
}