body.fixed{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.Nav{
  &__items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__item{
    position:relative;
    margin-right: 40px;
    &:last-child{
      margin-right: 0px;
    }
  }
  &__item--button a{
    font-weight: bold;
    width: 160px;
    display: inline-block;
    padding: 14px 0px;
    text-align: center;
  }
  &__link{
    position: relative;
    font-weight: 800;
    color: $navigation-link;
    &:after{
      content:'';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $navigation-link;
      transition: width .3s;
      @include maxQuery($s){
        display: none;
      }
    }
    &:hover{
      &:after{
        width: 100%;
      }
    }
  }
  &__link--hasdropdown span{
    display: inline-block;
    position: relative;
  }
  &__link svg{
    position:absolute;
    right:-25px;
    width:14px;
    height:7px;
    transform:translate(-50%, -50%);
    top:50%;
    transition: opacity .3s;
    fill:$navigation-link;
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
  &__link--no_line{
    &:after{
      display: none;
    }
  }
  @include minQuery(1000px){
    &__dropdown{
      position:absolute;
      top:30px;
      width:200px;
      background-color:white;
      z-index:1;
      padding:20px;
      padding-left:0;
      border-radius:10px;
      box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
      visibility:hidden;
      opacity:0;
      transition: all .5s;
      span{
        font-size:.875rem;
      }
      &__sublink{
        margin-bottom:18px;
        padding-left:16px;
        border-left:4px solid transparent;
        transition: all .5s;
      }
      &__sublink.border-left{
        border-left:4px solid #4C54B0;
      }
      &__sublink:last-child{
        margin-bottom:0;
      }
    }
    &__dropdown.active{
      opacity:1;
      visibility: visible;
    }
  }
  &__mobile-section,
  &__hamburger{
    display: none;
  }
}

@include maxQuery(1000px){
  .Nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 0%;
    background-color: white;
    transition: height .3s ease-in-out, padding .3s;
    &__items{
      width: 100%;
      flex-flow: row wrap;
      align-self: flex-start;
    }
    &__item{
      text-align: right;
      width: 100%;
      margin: 0px;
      font-size: 1.125rem;
      a{
        padding: 20px;
        display: block;
      }
    }
    &__item--button{
      display: none;
    }
    &__link svg{
      left: -15px;
    }
    &__hamburger{
      display: inline-block;
    }
  }
  .Nav__mobile-section{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 64px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    &__heading{
      display: block;
      width: 100%;
      margin-bottom: 30px;
      text-align: center; 
      font-size: 1.5rem;
      font-weight: 800;
      color: white;
    }
    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      max-width: 320px;
      width: 100%;
      padding: 0px;
      text-align: center;
      font-size: .875rem;
      font-weight: 800;
      color:white;
      &:hover{
        color:#4C54B0;
      }

    }
    &__button.Btn--filled{
      margin-right: 5px;
    }
    &__button.Btn--ghost{
      margin-left: 5px;
    }
  }
  .MainHeader.nav-is-open .Nav{
    height: calc(100vh - 75px);
    padding-top: 30px;
    overflow-y: scroll;
    &__hamburger i{
      background-color: $logo-color-open;
    }
  }
}
.Nav__hamburger {
  cursor: pointer;
  width: 30px; 
  height: 25px;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  padding-top: 5px;
  i{
    background-color: $logo-color-mobile;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transition: background-color .3s;
  }
  i:nth-child(2) {
    margin: 5px 0;
  }
  &.is-closed{
    i:nth-child(1) {
      -webkit-animation:outT 0.3s backwards;
      animation:outT 0.3s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }
    i:nth-child(2) {
      margin: 5px 0;
      -webkit-animation:outM 0.3s backwards;
      animation:outM 0.3s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }
    i:nth-child(3) {
      -webkit-animation:outBtm 0.3s backwards;
      animation:outBtm 0.3s backwards;
      -webkit-animation-direction:reverse;
      animation-direction:reverse;
    }
  }
  &.is-open{
    i:nth-child(1) {
      -webkit-animation:inT 0.2s forwards;
      animation:inT 0.2s forwards;
    }
    i:nth-child(2) {
      -webkit-animation:inM 0.2s forwards;
      animation:inM 0.2s forwards;
    }
    i:nth-child(3) {
      -webkit-animation:inBtm 0.2s forwards;
      animation:inBtm 0.2s forwards;
    }
  }
}
@-webkit-keyframes inM{
50%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(45deg);}
}
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@-webkit-keyframes outM{
50%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(45deg);}
}
@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@-webkit-keyframes inT{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(6.75px) rotate(0deg);}
100%{-webkit-transform: translateY(6.75px) rotate(135deg);}
}
@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(6.75px) rotate(0deg);}
100%{transform: translateY(6.75px) rotate(135deg);}
}

@-webkit-keyframes outT{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(6.75px) rotate(0deg);}
100%{-webkit-transform: translateY(6.75px) rotate(135deg);}
}
@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(6.75px) rotate(0deg);}
100%{transform: translateY(6.75px) rotate(135deg);}
}

@-webkit-keyframes inBtm{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(-6.75px) rotate(0deg);}
100%{-webkit-transform: translateY(-6.75px) rotate(135deg);}
}
@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-6.75px) rotate(0deg);}
100%{transform: translateY(-6.75px) rotate(135deg);}
}

@-webkit-keyframes outBtm{
0%{-webkit-transform: translateY(0px) rotate(0deg);}
50%{-webkit-transform: translateY(-6.75px) rotate(0deg);}
100%{-webkit-transform: translateY(-6.75px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-6.75px) rotate(0deg);}
100%{transform: translateY(-6.75px) rotate(135deg);}
}