.SkewedBanner {
	background-color: $skewed-banner;
	position: relative;
	z-index: 1;
	height: 466px;
	width: 100%;
	&:after {
		content: "";
		background: inherit;
		display: block;
		height: 50%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		transform: skewY(-1.5deg);
		transform-origin: 100%;
	}
}