.SkewedBanner {
	background-color: $skewed-banner;
	position: relative;
	z-index: 2;
	width: 100%;
  h3{
    margin-top: 0px;
    color: white;
  }
  p{
    color: white;
  }
	&:after {
		content: "";
		background: inherit;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		z-index: -1;
		transform: skewY(-1.5deg);
		transform-origin: 100%;
    @include maxQuery($s){
      display: none;
    }
	}
}


.SkewedBanner--homepage{
  margin-top: -200px;
  &:after{
    height: 225px;
    bottom: -190px;
  }
  @include maxQuery(1200px){
    margin-top: -100px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
  @include maxQuery($s){
    width: 90%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.SkewedBanner--homepage .SkewedBanner{
  &__row{
    display: flex;
    flex-flow: row wrap;
    padding-top: 70px;
    max-width: 100%;
  }

  &__heading{
    width: 25%;
    margin-left: 0;
  }
  &__body{
    width: 65%;
    margin-left: 10%;
  }
  &__heading h3{
    margin-bottom: 70px;
    margin-top: 0;
    color: white;
  }
  &__body p{
    margin-top: 0;
    color: white;
    font-size: 1.25rem;
  }
  @include minmaxQuery($s,1100px){
    &__row{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include maxQuery($s){
    &__row{
      padding-top: 35px;
      padding-bottom: 60px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &__heading{
      width: 100%;
    }
    &__body{
      margin-left: 0;
      width: 100%;
    }
    &__heading h3{
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    &__body p{
      font-size: .875rem;
    }
  }
}

.SkewedBanner--general{
  margin-top: -50px;
  &:after{
    height: 100px;
    bottom: -30px;
  }
  @include maxQuery($s){
    width: 90%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.SkewedBanner--general .SkewedBanner{
  &__row{
    padding-top: 35px;
  }

  &__source,
  &__title,
  &__body p{
    color: white;
  }
  
  &__source{
    font-size: 1.125rem;
  }

  &__title{
    font-size: 1.125rem;
    font-weight: normal;
  }

  &__body p{
    font-size: 1.25rem;
  }
  
  @include maxQuery($s){
    &__row{
      padding-top: 25px;
      padding-bottom: 40px;
    }
    &__source,
    &__title{
      display: block;
      font-size: 1.25rem;
    }
    &__body p{
      font-size: .875rem;
    }
  }
}

.SkewedBanner--migrationpage .SkewedBanner{
  &__row{
    align-items:center;
    max-width:100%;
    width:958px;
  }
  &__heading{

  }
  &__text{

  }
  &__list p{
    line-height:28px;
    margin:0;
    font-weight:500;
  }
  &__offset{
    margin-left:0px;
    margin-right:8.33333%;
  }
  &__percent{
    display:flex;
    justify-content:space-between;
  }
  &__percent h3{ 
    margin:0; 
    font-weight:100;
  }
  &__percent h2{ 
    margin:0;
    color:white;
    font-weight:100; 
  }
  @include maxQuery(1025px){
    &__offset{
      margin:0 auto;
      margin-top:25px;
    }
    &__text{
      margin:0 auto;
    }
    &__percent{
      margin-top:33px;
    }
  }
  @include maxQuery($s){
    &__list{display:none;}
    &__offset{margin-top:33px;}
    &__heading{
      font-size:1.5rem;
      margin-bottom:0px;
    }
    &__percent{width:100%;}
    &__percent h3{font-size:1.5rem;}
    &__percent h2{font-size:.875rem;}
  }
}


.SkewedBanner--whatis .SkewedBanner{
  &__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__row{
    justify-content: center;
  }
  &__heading{
    margin-bottom: 25px;
  }
  &__body p{
    margin: 0px;
  }
  &__body--stats{
    display: flex;
  }
  &__stat{
    font-size: 2.25rem;
  }
  &__label{
    font-size: 1.5rem;
  }
}
@include maxQuery(1000px){
.SkewedBanner--whatis .SkewedBanner{
  &__flex{
    flex-basis: 100%;
    max-width: 100%;
  }
  &__text{
    padding-left: 10px;
    padding-right: 10px;
  }
}
}
@include maxQuery($s){
  .SkewedBanner--whatis .small-12{
    display: block;
    flex: unset;
    width: 100%;
  }
  .SkewedBanner--whatis .small-6,
  .SkewedBanner--whatis .small-5,{
    max-width: 100%;
    width: 100%;
    flex: unset;
  }
  .SkewedBanner--whatis .SkewedBanner{
    &__text{
      padding-left: 15px;
      padding-right: 15px;
    }
    &__heading{
      font-size: 1.5rem;
    }
    &__body--stats{
      margin-top: 30px;
      div{
        width: 33.333%;
      }
    }
    &__stat{
      display: block;
      font-size: 1.5rem;
    }
    &__label{
      font-size: .875rem;
    }
  }
}