.Description {
	display: flex;
	&__heading {
		width: 39%;
	}
	&__body {
		width: 61%;
		h4 {
			margin: 30px 0 15px;
		}
		p {
			margin: 0;
			img {
				max-width: 100%;
			}
		}
	}
}

.Description__heading {
	h2 {
		display: inline-block;
		position: relative;
		color: $heading;
		padding-bottom: 5px;
		margin: 0;
	}
}

@include maxQuery(1200px){
  .Description{padding: 0px 10px;}
}
@include maxQuery($s){
	.Description {
    padding: 0px;
    max-width: 90%;
    margin: 0 auto;
		flex-direction: column;
		&__heading {
			width: 100%;
			h2 {
				font-size: 1.125rem;
				padding: 0;
				margin: 0 0 20px;
			}
		}
		&__body {
			width: 100%;
			p {
				font-size: 0.875rem;	
			}
			h4 {
				margin-bottom: 10px;
				font-size: 0.875rem;
			}
		}
	}
	.Description--larger-text .Description{
		&__heading h2{
			font-size: 1.5rem;
		}
	}
}

.Description--about-page-text .Description{
	&__heading h2 {
		font-size: 2.25rem;
		@include maxQuery($s){
			font-size: 1.5rem;
		}
		&:after {
			display: none;
		}
	}
	&__body p{
		margin-bottom: 30px;
		&:nth-child(3),&:last-child {
			margin-bottom: 0;
		}
	}
}

.Description--li-experts {
  max-width: 100%;
    @include maxQuery($s){
    display: none;
  }
}

.Description--marketing {
	max-width: 100%;
	@include maxQuery($s){
		max-width: 90%;
		margin: 0 auto;
	}
	.Description__body p {
		max-width: 80%;
		@include maxQuery($s){
			max-width: 100%;
		}
	}
}

.Description--li-experts,.Description--marketing .Description{
  &__heading h2{
    font-size: 2.25rem;
    @include maxQuery($s){
    	font-size: 1.5rem;
    }
    &:after {
      display: none;
    }
  }
}