.Description {
	display: flex;
	max-width: 90%;
	margin: 0 auto;
	&__heading {
		width: 40%;
	}
	&__body {
		width: 60%;
		h4 {
			margin: 30px 0 15px;
		}
		p {
			margin: 0;
		}
	}
}

.Description__heading {
	h2 {
		display: inline-block;
		position: relative;
		color: $heading;
		padding-bottom: 5px;
		margin: 0;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 90%;
			height: 1px;
			background-color: black;
		}
	}
}


@include maxQuery($s){
	.Description {
		flex-direction: column;
		&__heading {
			width: 100%;
			h2 {
				font-size: 1.125rem;
				padding: 0;
				margin: 0 0 20px;
			}
		}
		&__body {
			width: 100%;
			p {
				font-size: 0.875rem;	
			}
			h4 {
				margin-bottom: 10px;
				font-size: 0.875rem;
			}
		}
	}
	.Description--larger-text {
		.Description__heading h2{
			font-size: 1.5rem;
		}
	}
}