.HomewareCaseStudy{
	&__container{
		display:flex;
		align-items:center;
	}
	&__container--2{
		position:relative;
	}
	&__container__size--3{
		margin:0 auto;
	}
	&__text{
		max-width:444px;
	}
	&__image--1{
		position:relative;
	}
	&__image--2{
		position:absolute;
		bottom:0;
		transform:translateX(-50%);
	}
	&__image--3{
		width:100%;
	}
	&__container--3{
		display:none;
	}
	@media screen and (max-width:1480px){
		&__text{
			margin-left:25px;
			max-width:333px;
		}
	}
	@media screen and (max-width:$m){
		&__text{
			max-width:260px;
		}
	}
	@media screen and (max-width:1025px){
		&__text{
			max-width:inherit;
		}
		&__row--1{
			justify-content:center;
		}
		&__container{
			justify-content:center;
			text-align:center;
		}
		&__container--2{
			display:none;
		}
		&__container--3{
			display:block;
			margin-top:30px;
		}
		&__container--4{
			flex-direction:row-reverse;
			justify-content:center;
			align-items:baseline;
			width:100%;	
		}
	}
	@media screen and (max-width:$s){
		&__text{
			margin:0 auto;
		}
		&__title{
			font-size:1.125rem;
			margin-bottom:0px;
		}
		&__quote{
			display:none;
		}
		&__description{
			color:black;
			margin-top:14px;
			margin-bottom:0px;
		}
		&__link{
			display:none;
		}
	}
}