<div class="CaseStudyListing">
  <% link_to "/case-studies/#{caseStudy.handle}" do %>
  <%= image_tag caseStudyImage.url, alt: caseStudyImage.alt, class:"CaseStudyListing__image" %>
  <% end %>
  <%= link_to "#{caseStudyHeading || caseStudy.heading}", "/case-studies/#{caseStudy.handle}", class:"CaseStudyListing__link"%>
</div>