

<% mainBlock = design_dev.design_section_image[0] %>




<div class="eDesign">
	<div class="eDesign__overview eDesign__gray mobile-space-60">
		<div class="eDesign__overview__container--1">
			<div class="eDesign__row row">
				<div class="eDesign__overview__image__container--1 large-6 medium-5 small-10">
          
				</div>
				<div class="eDesign__overview__text__container--1 large-6 medium-5">
					<div class="eDesign__overview__text__container--2">
					<h2>Dedicated project manager and UX designer</h2>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
				</div>
				</div>
			</div>
		</div>
	</div>	
</div>