

<% design = dato.design_dev_design %>
<% mainImage = design.main_image %>


<div class="eDesign">
	<div class="eDesign__overview eDesign__gray mobile-space-60">
		<div class="eDesign__overview__container--1">
			<div class="eDesign__row row">
				<div class="eDesign__overview__image__container--1 large-6 medium-5 small-10">
         
           <%= image_tag  mainImage.url, alt:  mainImage.alt, class:"CaseStudy__overview__image--1 CaseStudy__overview__image" %>
				</div>
				<div class="eDesign__overview__text__container--1 large-6 medium-5">
					<div class="eDesign__overview__text__container--2">
					<h2>Dedicated project manager and UX designer</h2>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
				</div>
				</div>
			</div>
		</div>
	</div>	
</div>