<% intro = dato.design_dev_intro %>
<div class="space-90 tablet-space-60">
  <p class="eIntro__quote-section">
    <%= partial './partials/global/svg-icons', locals:{icon: 'quote'} %>
    <q class="eIntro__quote"><%= intro.quote %></q>
    <cite class="eIntro__quote-person"><%= intro.quote_person %></cite>
  </p>
</div>