
<% support = dato.design_dev_support %>
<% mainImage = support.main_image %>
<% mobileImage = support.mobile_main_image %>
<% mainTitle = support.main_title %>
<% mainBody = support.main_body %>

<div class="space-150 space-bottom-270 tablet-space-90 tablet-space-bottom-0">
<div class="eSupport">
	<div class="eSupport__container container m">
		<div class="eSupport__left">
	     <%= image_tag  mainImage.url, alt:  mainImage.alt, class:"eSupport__image" %>
	     <%= image_tag  mobileImage.url, alt:  mobileImage.alt, class:"eSupport__mobile__image" %>
		</div>
	
		<div class="eSupport__right">
			<div class="eSupport__text-container">
				<h2 class="eSupport__title"><%= mainTitle %></h2>
				<p class="eSupport__body"><%= mainBody %></p>
				<a href="/contact" class="Link--underline">Let's talk</a>
			</div>
		</div>
	</div>
</div>
</div>