<div class="CaseStudy__brand-story container padding-90 CaseStudy__gray">
  <div class="row CaseStudy__brand-story__images">
    <% images.each do |image| %>
    <div class="small-6 CaseStudy__brand-story__image">
      <%= image_tag image.url, alt: image.alt %>
    </div>
    <% end %>
  </div>
</div>