  <div class="CaseStudy__brand-story SuperCaseStudy__brand-story container padding-150 space-bottom-300 CaseStudy__gray">
    <div class="row">
      <div class="small-12 center">
        <div class="SuperCaseStudy__generic-text space-bottom-120">
          <h3 class="SuperCaseStudy__generic-text__heading">
            <%= heading %>
          </h3>
          <div class="SuperCaseStudy__generic-text__body">
            <%= body %>
          </div>
        </div>
        <div class="SuperCaseStudy__brand-story__images">
          <%= image_tag image.url, alt: image.alt %>
        </div>
      </div>
    </div>
  </div>