  <div class="space-120 space-bottom-90 mobile-space-60 mobile-space-bottom-30">
    <%= partial './partials/supercasestudy/two-column-text',
      locals:{
        heading1:caseStudy.website_browsing_heading,
        heading2:'',
        body1: caseStudy.website_browsing_body,
        body2: caseStudy.website_browsing_body2
      }
    %>
  </div>
  <% if caseStudy.show_website_browsing_video == true %>
  <div class="CaseStudy__browsing container space-120 space-bottom-90 mobile-space-0 mobile-space-bottom-30">
    <div class="row">
      <div class="small-12 center">
        <video autoplay muted>
          <% unless caseStudy.website_browsing_video_webm.nil? %>
          <source src="<%= caseStudy.website_browsing_video_webm.url %>" type="video/webm">
          <% end %>
          <% unless caseStudy.website_browsing_video.nil? %>
          <source src="<%= caseStudy.website_browsing_video.url %>" type="video/mp4">
          <% end %>
        </video>
      </div>
    </div>
  <% end %>
  </div>
