<div class="space-120 space-bottom-90">
  <%= partial './partials/supercasestudy/two-column-text',
    locals:{
      heading1:caseStudy.mobile_section_heading,
      heading2:'',
      body1: caseStudy.mobile_section_body,
      body2: caseStudy.mobile_section_body2
    }
  %>
</div>
<div class="CaseStudy__mobile">
  <div class="CaseStudy__mobile__images-section">
    <div class="CaseStudy__mobile__images padding-90 padding-bottom-120 mobile-space-padding-60 mobile-space-padding-bottom-60">
      <% images.each do |image| %>
        <%= image_tag image.url, alt: image.alt, class:"CaseStudy__mobile__image" %>
      <% end %>
    </div>
  </div>
</div>