  <div class="CaseStudy__website-overview CaseStudy__gray padding-300 SuperCaseStudy__website-overview container">
    <div class="row">
    <div class="small-12">
    <%= image_tag image.url, alt: image.alt, class:"SuperCaseStudy__website-overview-image" %>
    </div>
    </div>
  </div>