<% resultHeading = caseStudy.result_heading %>
<% resultBody = caseStudy.result_body %>
<% resultStats = caseStudy.results_stat %>
<div class="SuperCaseStudy__results__container--1 CaseStudy__result__container--1 mobile-space-padding-60 space-bottom-300">
	<div class="container m">
		<div class="row">
			<div class="large-9 medium-10 small-10">
				<h2 class="SuperCaseStudy__results__title--1 CaseStudy__result__title--1 "><%= resultHeading %></h2>
				<div class="CaseStudy__result__body--1"><%= resultBody %></div>
			</div>
		</div>
		<div class="row">
			<div class="large-9 medium-10 small-10">
				<div class="CaseStudy__rate__container--1">
					<% resultStats.each do |stat| %>
					<div class="CaseStudy__rate__container--2 large-3 medium-6 small-6">
						<p class="CaseStudy__rate__title--1"><%= stat.percentage %></p>
						<p class="CaseStudy__rate__body--1"><%= stat.label %></p>
					</div>
					<% end %>
				</div>
			</div>
		</div>
  <!-- to put back awards include caseStudy/awards partial -->
	</div>
</div>