  <% if enable  == true %>
  <div class="CaseStudy__video container space-200 space-bottom-120 mobile-space-60 mobile-space-bottom-0">
    <div class="row">
      <div class="small-12">
        <div class='CaseStudy__video__container'>
          <div class="CaseStudy__video__cover" style="background-image: url('<%= caseStudy.cover_image.url %>');">
            <button type="button" class="CaseStudy__video__play-button js-playVideo">
              <span>PLAY</span>
            </button>
          </div>
          <video class="js-video" controls>
            <source src="<%= videoWEBM.url %>" type="video/webm">
            <source src="<%= videoMP4.url %>" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>


<script>
  $('.js-playVideo').click(function(){
    $(this).parent().remove();
    var video = document.querySelector('.js-video');
    video.play();
  });
</script>
<% end %>