<div class="ArticleSideColumn__video">
	<video width="100%" height="auto" autoplay muted>
		<source type="video/webm" src="https://www.datocms-assets.com/4598/1537814883-shopclass.webm">
		<source type="video/mp4" src="https://www.datocms-assets.com/4598/1537814874-shopclassmp4.mp4">
		Your browser does not support the video tag.
	</video>
	<div class="ArticleSideColumn__button">
		<a class="Btn Btn--animatedLeft--purple" href="https://shopclass.shopify.com/stops/new-york-city" target=”_blank” rel=”noopener noreferrer”><span>Event Info</span></a>
	</div>
</div>