<div class="ArticleSideColumn__download">
  <h3 class="ArticleSideColumn__download__heading"><%= dato.article_sidebar.download_heading %></h3>
  <p class="ArticleSideColumn__download__body"><%= dato.article_sidebar.download_body %></p>
  <%= image_tag("../images/e-commerce book.png", alt: "Close", class: "ArticleSideColumn__download__image")%>
  <a href="/<%= dato.download_page.handle %>" class="ArticleSideColumn__download__button Btn Btn--animatedLeft Btn--animatedLeft--yellow Btn--shadow" type="submit" name="subscribe" id="event-embedded-subscribe">Get your free guide</a>
</div>
