<div class="ArticleSideColumn__signup">
  <%= image_tag("../images/shopify.png", alt: "Shopify")%>
  <h2 class="ArticleSideColumn__signup__heading"><%= dato.article_sidebar.signup_heading %></h2>
  <div class="ArticleSideColumn__signup__body"><%= dato.article_sidebar.signup_body %></div>
  <a href="https://www.shopify.com/?ref=parkfieldcommerce&utm_campaign=blg" target="_blank" rel="nofollow" class="ArticleSideColumn__signup__button Btn Btn--animatedLeft Btn--animatedLeft--purple"><span><%= dato.article_sidebar.signup_button %></span></a>
</div>