<div class="ArticleSideColumn__video">
	<video width="100%" height="auto" controls autoplay muted>
		<source src="https://www.datocms-assets.com/4598/1537814883-shopclass.webm">
		<source src="https://www.datocms-assets.com/4598/1537814874-shopclassmp4.mp4">
		Your browser does not support the video tag.
	</video>
</div>