<div class="row">
	<div class="large-5 medium-10 small-10"><h3 class="HomewareCaseStudy__title--1"><%= descriptionHeading %></h3></div>
	<div class="large-5 medium-10 small-10">
		<div class="HomewareCaseStudy__text--1"><%= descriptionBody %></div>
    <% if descriptionLogo != nil %>
    <%= image_tag descriptionLogo.url, class:"HomewareCaseStudy__image--5" %>
    <% end %>
		</div>
</div>