.Service{
	&__content{
    margin-right: auto;
		display:flex;
		align-items:center;
	}
	&__block:nth-child(n+4){
		margin-top:80px;
	}
	&__title{
		margin-top:0px;
		margin-bottom:60px;
    @include maxQuery(1200px){
      padding: 0 10px;
    }
    @include maxQuery($s){
      padding: 0;
    }
	}
	&__title__container{
		justify-content: flex-start;
    @include maxQuery($s){
      justify-content: center;
    }
	}
	&__text{
		margin-left: 15px;
    margin-right: 30px;
    width: 85%;
		h6{
			font-weight: normal;
			margin-top: 0;
			color: $heading;
			margin-bottom: 10px;
      @include maxQuery($s){
        font-size: 1.125rem;
      }
		}
    h2{
      margin:0;
      font-family: 'Avenir-Roman';
    }
    p{
      margin:0;
      font-family: 'Avenir-Roman';
      line-height:21px;
      margin-top:16px;
    }
	}

	&__image{
		width:15%;
    min-width: 73px;
    margin: 0 auto;
		max-width:100%;
		text-align: right;
	}
	&__button{
		font-weight: bold;
		margin-top:60px;
		display:inline-block;
		width:190px;
		min-height:60px;
		max-width:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		color:white;
		cursor: pointer;
    background-color: $btn-pfc;
    border-width: 2px;
    border-color: $btn-pfc;
    &:after{
      background-color: #FAFAFA;
    }
    &:hover{
      border-color: $btn-pfc;
      span{color: $btn-pfc;}
    }
    @include maxQuery(1025px){
      span{color: white;}
      &:hover{
        span{color: white;}
        &:after{
          display: none;
        }
      }
    }
	}
	@include minmaxQuery(1022px,1250px){
		padding-left:10px;
		padding-right:10px;
	}
	@include maxQuery(1022px){
		&__block:nth-child(n+3){
			margin-top:50px;
		}
	}
	@include maxQuery($s){
		&__content{
			flex-flow:row wrap;
			justify-content:center;
			text-align: center;
		}
    &__title{
      font-size: 1.5rem;
      max-width: 83.33333%;
      margin-right: auto;
      margin-left: auto;
    }
		&__text{
      margin-right: 0;
			margin-top:16px;
			margin-left:0px;
			width:100%;
		}
		&__text h2{
			font-size:.875rem;
		}
		&__text p{
			display:none;
		}
		&__image{
      display: flex;
      justify-content: center;
      align-items: center;
			min-height:69px;
			height:100%;
		}
		&__button{
			width:100%;
			&__row{
				justify-content:center;
			}
			&__container{
				display:flex;
				justify-content:center;
			}
		}
	}
}