.MigrationSlider{
	&__company{
		margin-top:30px;
		margin-bottom:0px;
	}
	&__company__description{
		display:none;
	}
	&__image{
		width:100%;
	}
	&__percentage__container{
		display:flex;
		margin-top:30px;
	}
	&__first__percent{
		font-size:1.5rem;
		color:#231F20;
		margin-bottom:0px;
		margin-top:0px;
		&__title{
			margin-top:13px;
			margin-bottom:0px;
			color:#231F20;
		}
	}

	&__second__percentage{
		margin-left:57px;	
	}
	&__second__percent{
		margin:0;
		font-size:1.5rem;
		color:#231F20;
		&__title{
			margin:0;
			margin-top:13px;
			color:#231F20;
		}
	}
  &__quote{
    font-size: 2.25rem;
    font-weight: 400;
  }
  &__button{
		font-weight: 800;
		margin-top:60px;
		width:190px;
		min-height:60px;
		max-width:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		color:white;
		cursor: pointer;
    background-color: $btn-pfc;
    border-width: 2px;
    &:after{
      background-color: white;
    }
	}

	&__arrows{
		margin-top:10px;
		display:flex;
		justify-content:center;
	}
  &__arrow{
    font-size: 1.3rem;
    color: #c2c2c2;
    transition: color .3s;
    &:hover{
      color: darken(#c2c2c2, 10%);
      cursor: pointer;
    }
  }
	&__count{
		margin:0 16px;
    line-height: 20px;
	}
	@include minmaxQuery(1022px,1250px){
	padding-left:10px;
	padding-right:10px;
	}
	@media screen and (max-width:1025px){
		&__image{
			display:none!important;
		}
		&__row{
			margin:0 auto;
		}
		&__button{
			display:none;
		}
		&__arrows{
			margin:0 auto;
			justify-content:flex-start;
			margin-top:15px;
			margin-top:40px;
		}
	}
	@media screen and (max-width:$s){
		&__title{
			margin-top:0px;
			margin-bottom:0px;
		}
		&__quote{
			font-size:.875rem;
			font-weight:500;
			color:#979797;
			margin-top:20px;
			margin-bottom:0px;
		}
		&__company{
			color:#231F20;
			font-size:.875rem;
			margin-top:20px;
			margin-bottom:0px;
		}
		&__company__description{
			display:block;
			margin:0px;
			color:#231F20;
			font-size:.875rem;
		}
		&__button{
			display:none;
		}
		&__arrows{
			margin-top:40px;
		}
	}
}