---
layout: layout
pageClass: AboutPage
---

<%= partial './partials/global/hero', 
  locals:{
    type:'generic',
    mobile_image: dato.about_page.banner[0],
    med_image: dato.about_page.banner[1],
    large_image: dato.about_page.banner[2],
    heading: dato.about_page.banner_heading,
    subHeadingImage: nil
  } 
%>
<div class="container m">
	<div class="space-90 mobile-space-60 mobile-space-bottom-60">
	<%= partial './partials/global/title-and-text', 
		locals: {
			heading: dato.about_page.about_description[0].heading,
			body: dato.about_page.about_description[0].body,
			modifier: '--about-page-text'
		} 
	%>
	</div>
</div>

<div class="container m">
	<div class="space-120">
		<%= partial './partials/about/about-team' %>
	</div>
</div>