---
title: ParkfieldCommerce - E-Commerce Web Design Agency
---
<%= partial './partials/global/hero', 
  locals:{
    type:'homepage',
    image: dato.homepage_hero.image,
    heading: dato.homepage_hero.heading
  } 
%>
<div class="container l">
<%= partial './partials/global/skewedBanner' %>
<%= partial './partials/homepage/blog-grid' %>
</div>
