<% page = dato.shopify_migration_page %>
<div class="container m">
<div class="MigrateQuote space-120">
		<%= partial './partials/global/svg-icons', locals:{icon: 'quote'} %>
    <div class="MigrateQuote__quote"><%= page.quote %></div>
    <div class="MigrateQuote__source"><%= page.quote_person %></div>
    <div class="MigrateQuote__images">
    <% page.quote_images.each do |image| %>
      <img src="<%= image.url %>" alt="<% image.alt %>">
    <% end %>
  </div>
</div>
</div>