.SEOPage__form {
	padding-bottom: 120px;
	overflow: hidden;
	.container {
		background-color: $footer-bg;
		box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
		padding: 53px 0 61px; 
		position: relative;
	}
	.formDots {
		position: absolute;
		bottom: -119px;
		left: -121px;
		z-index: -1;
	}
	h3 {
		text-align: center;
		color: #fff;
		font-size: 1.5rem;
		margin: 0 0 30px;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	fieldset {
		width: 100%;
		max-width: 814px;
		margin: 0 auto;
		border: 0;
		padding: 0;
	}
	button {
		display: block;
		margin: 0 auto;
		background-color: $form-btn-bg;
		font-weight: 800;
		font-size: 1.125rem;
		border: 0;
		height: 48px;
		width: 241px;
		border-radius: 4px;
	}
	.hidden { display: none; }
	.inputContainer {
		display: flex;
		flex-flow: row wrap;
		margin: 60px 0 50px;
	}
	&--input {
		width: 50%;
		position: relative;
		margin-bottom: 30px;
		box-sizing: border-box;
		&:nth-child(odd) { padding-right: 30px; }
		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #fff;
			background-color: $footer-bg;
			height: 32px;
			font-size: 1.125rem;
			transition: border-bottom 0.3s;
			color: #fff;
			&:focus {
				outline: none;
				& ~ label {
					bottom: 29px;
					font-size: 0.75rem;
				}
			}
		}
		label {
			color: #fff;
			font-size: 1.125rem;
			position: absolute;
			left: 0;
			bottom: 8px;
			transition: all 0.3s;
		}
	}
	&--input input.input-focus ~ label {
		bottom: 29px;
		font-size: 0.75rem;
	}
	.checkboxContainer {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 5px;
	}
	.inputCheckbox {
		width: 33.33%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		padding-left: 20px;
		margin-bottom: 40px;
		position: relative;
		.checkbox, .fakeCheckBox {
			width: 30px;
			height: 30px;
		}
		.fakeCheckBox {
			border: 1px solid #fff;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 22px;
			svg {
				display: none;
			}
		}
		.checkbox {
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			z-index: 1;
			opacity: 0;
		}
		.checkbox:checked ~ .fakeCheckBox {
			svg { display: block; }
		}
		label {
			color: #fff;
			font-size: 1.125rem;
			margin-left: 28px;
			font-weight: 800;
		}
	}
	@include maxQuery(1000px) {
		fieldset {
			width: 83%;
		}
		padding-bottom: 0;
		.container {
			padding: 39px 0 30px;
			box-shadow: none;
		}
		h3 {
			font-size: 1.125rem;
			margin-bottom: 18px;
		}
		.inputContainer {
			margin: 32px 0 10px;
		}
		&--input {
			padding-right: 0 !important;
			width: 100%;
		}
		.checkboxContainer { margin-bottom: 13px; }
		.inputCheckbox {
			width: 100%;
			padding: 0;
			margin-bottom: 17px;
			.checkbox, .fakeCheckBox {
				height: 20px;
				width: 20px;
			}
			.checkbox {
				left: 0;
			}
			.fakeCheckBox { font-size: 13px; }
			label {
				margin-left: 11px;
				font-size: 0.875rem;
				br { display: none; }
			}
			&:nth-child(4), &:nth-child(5), &:last-child { display: none; }
		}
		button {
			width: 83%;
		}
	}
}